@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.b-topmenu__item {
		margin-right: 15px;
	}
	.b-topmenu__phone {
		margin-right: 0px;
	}
	.b-header-icons__link {
		margin-left: 18px;
	}	

	
}

// ≥992px
@include media-breakpoint-down(md) {	
	body {
	    font-size: 15px;
	    line-height: 1.5;
	}	
	h1,.b-news__tabs-link.active {
		font-size: 30px;
		line-height: 40px;
	}	
	h2,a {
		&.gradient.text{
			font-size: 30px;
			padding-top: 60px;
			padding-bottom: 50px;
		}
	}
	h3.gradient.text {
		font-size: 24px;
	}
	.b-intro {
		&__title {
		font-size: 72px;
		line-height: 70px;
		}
		&__text {
    		font-size: 14px;
		}
		&__description {
			bottom: 220px;

		}
	}
	.b-header {
		display: none;
		&-mobile {
			display: flex;
			height: 50px;
			position: fixed;
			width: 100%;
			text-transform: uppercase;
			font-size: 12px;
			background: #fff;
			z-index: 3000;
			&__profile {
				display: block;
				position: fixed !important;
				padding: 25px 0 25px 38px !important;
				bottom: 0px !important;
				left: 0px !important;
				width: 100% !important;
				background-color: #fff !important;
				font-size: 12px !important;
				transition: none !important;
				overflow: visible !important;
				transform: none !important;
				right: auto !important;
				top: auto !important;
				&.mm-hidden {
					display: block !important;
				}
				&.hide {
					display: none !important;
				}
				&-login {
					position: relative;
					text-transform: none;
					letter-spacing: 1px;
					display: block;
					font-size: 12px;
					text-decoration: underline;
					padding-left: 20px;
					margin-bottom: 25px;
					&:before{
						content: ' ';
						background: url(../img/login.svg) no-repeat;
						background-size: contain;
						width: 17px;
						height: 17px;
						left: 0;
						display: inline-block;
						position: absolute;
					}
				}
					&-phone {
						font-size: 14px;
						letter-spacing: 0.5px;
					}
			}
			&__search {
				display: inline-block;
				margin-left: 35px;
				font-size: 16px;
				width: 17px;
				height: 17px;
				background-size: contain;
				background-repeat: no-repeat;
				background-image: url(../img/search.svg);
			}
			&__logo {
				width: 50px;
				height: 34px;
			}
			&__menuelement {
				    padding: 20px 10px 20px 38px;
				&-link {	
					text-transform: uppercase;
					font-size: 12px;
					color: #000;
				    letter-spacing: 1px;
				    padding: 0 !important;
				}
			}
			&__secondlevel {
				text-transform: none;
				&-item {
					border-bottom: none;
					text-transform: none;
				    padding: 7px 10px 7px 38px;
					color: #666;
					font-size: 13px;
				    &:after {
				    	display: none;
				    }
				    &:first-child {
				    	margin-top: 0 !important;
				    }
				}
				&-link {
					padding: 0 !important;
				}
				&-title {
				    margin-top: 0 !important;
					font-family: 'PTSans', sans-serif;
					text-transform: none;
				    padding: 20px 10px 5px 38px;
				    font-size: 15px;
				    color: #000;
				    &:after {
				    	display: none;
				    }
				}
				&-imgblock {
					width: 150px;
					height: 70px;
					display: inline-block;
				}
				&-img {
					display: inline-block;
					margin-right: 18px;
					margin-top: 11px;
					width: 120px;
					height: 70px;
				}
				&-imgtitle {
					padding: 0 !important;
					display: inline-block !important;
				}
			}
		}
	}
	#my-menu {
		z-index: 3000;
		margin-top: 50px;
		width: 100%;
		background: #fff;
		max-width: 100%;

	}
	.mm-listitem::after {
    left: 38px;
    right: 38px;	
	}
	.mm-listitem:first-child {
		margin-top: 35px;
	}
	.mm-listitem:first-child:before {
	    content: '';
	    border-top-width: 1px;
	    border-top-style: solid;
	    display: block;
	    position: absolute;
	    left: 38px;
	    right: 38px;
	    top: 0;
	    border-color: #ccc;
	}
	.mm-listitem > a, .mm-listitem > span {
	}
	.mm-listitem .mm-btn_next::before {
		display: none;
	}
	.mm-listitem .mm-btn_next {
		right: 19px;
	}
	.mm-navbar {border-bottom: none;padding: 0 37px; text-align: left;}
	.mm-navbar a {
		border-bottom: 	1px solid #ccc;
	}
	.mm-menu .mm-navbar a, .mm-menu .mm-navbar > * {
	    color:#ff0066;
	    letter-spacing:1px;
	    text-transform: uppercase;
	    font-size: 12px;
	    padding-left: 15px;
	}
	.mm-btn_next:after,.mm-btn_prev:before {
		border-top: 1px solid transparent;
		border-left: 1px solid transparent;
	}	
	.mm-menu .mm-btn {
		border-bottom: none;
	    left: 15px;
	    padding-left: 0;
	}
	.mm-menu .mm-btn::before {
	    border-color: #ff0066;
	}
	.mm-listitem, .mm-listitem .mm-btn_next, .mm-listitem .mm-btn_next::before, .mm-listitem::after, .mm-listview {
	    border-color: #ccc;
	}	
	#customDots.owl-dots {
		right: auto;
		left: 15px;
		bottom: 80px;
	}
	.gutter {
		&_bottom {
			padding-bottom: 50px;
		}
		&_top {
			padding-top: 60px;
		}
		&_no {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
	}
	.margin {
		&_top100 {
			margin-top: 60px;
		}
		&_bot100 {
			margin-bottom: 50px;
		}
		&_bot50 {
			margin-bottom: $gutter;
		}
		&_top50 {
			margin-top: $gutter;
		}
		&_top_gut {
			margin-top: $gutter;
		}
		&_bot_gut {
			margin-bottom: $gutter;
		}
		&_right_gut {
			margin-right: $gutter;
		}
	}
	.b-stats {
		&__numbers {
			    margin-right: 30px;
			&-num {
			    font-size: 30px;
				font-weight: 300;
			}
			&-title {
				font-size: 13px;
			}
		}
		&__gutter {

		    padding-top: 154px;

		}		
	}
	.b-features {
		&__list {
			&-title{
				font-size: 15px;
			}
			&-item {
			padding-left: 70px;
			&:before {

    			background-size: contain !important;
			}
			}
			&__text {
			    font-size: 12px;
			}		
		}
			&__container {
			    padding-top: 60px;

			}	
	}
	.b-catalog {
		&__item {
			&-link {
			    font-size: 16px;

			}
		}
	}
	.b-professionals {
		&__desc {
			font-size: 12px;
			line-height: 15px;
			&-link {
				display: block;
				margin-right: 0;
				margin-bottom: 10px;
			}
		}
	}
	.b-midbanner {
		padding-top: 30px;
		line-height: 1.2;
		font-weight: normal;
		&__button {
			margin-top: 25px;
		}		
	}	
	.b-news {
		&__tabs {
			font-size: 12px;
		}
	}	
	#wideslider3.wideslider {
		width: 100%;
	}		
	.b-seo {
		&__title {
			padding-top: 50px;
		    font-size: 30px;
		}
		&__block {
		    font-size: 13px;
		    padding-bottom: 50px;
			&-padding {
				font-size: 15px;

				}

		}
	}

	.humb {
		display: inline-block;
	}
	.b-topmenu {
		&__dropdown {
			&.login {
				height: 100vh;
				top: 50px;
				width: 100%;
				max-width: 100%;
				background-color: #fff;
			}
		}
	}
	.b-topmenu-mobile {
		position: absolute;
		width: 100%;
		background-color: #fff;
		z-index: 11;
		left: 0;
		top: 50px;
		padding-top: 35px;
		height: 100vh;
		&__button {
			float: none;
			width: 100%;
			margin-top: 25px;
		}
		&.favorites {
			padding-left: 15px;
			padding-right: 15px;

		}
		.b-topmenu__favorites-desc {
			padding-right: 40px;
		}
		&__shopbag {
			&-container {
				margin-top: 13px;
				margin-bottom: 70px;
			}
			&-text {
				color: #333333;
				text-transform: none;
				font-size: 13px;
				padding-right: 5px;
			}
			&-price {
				color: #333333;
				font-size: 36px;
			}
			&-link {
				text-decoration: none;
				float: left;
			}
		}
	}				
}

// ≥768px
@include media-breakpoint-down(sm) {
	.mobilefluid {
		width: 100%;
		.col-12 {
			padding: 0;
		}
	}
	.b-stats {
		&__numbers {
    	margin-right: 12px;
	    	&-num {
	    	font-size: 20px;
	    	padding-right: 5px;
		}
		&-title {
			font-size: 12px;
			line-height: 1.2;
		}
	}
		&__gutter {
			padding-top: 20px;
			padding-bottom: 20px;
		    margin-top: 15px;

		}
	}
.b-features {
	&__list {
		&-title{
			font-size: 14px;
		}
		&-item {
		padding-left: 70px;
		}
	}
}
	body {
		font-size: 13px;
	}
	h1,.b-news__tabs-link.active {
		font-size: 26px;
		line-height: 30px;
	}
	.gradient.text {
		&:after {
			height: 1px;
		}
	}	
	h2,a {
		&.gradient.text{
			font-size: 26px;
			line-height: 30px;
			padding-top: 40px;
			padding-bottom: 33px;
			&:after {
				height: 1px;
			}
		}
	}
	.b-intro {
		&__title {
			font-size: 36px;
			line-height: 35px;
			padding: 10px;
		}	
		&__text {
			font-size: 12px;
			line-height: 16px;	
			padding:10px;
		}
		&__item {
			min-height: 517px;
		}
		&__description {
		    max-width: 265px;
		    bottom: 130px;
		}
		&__about {
			padding-bottom: 33px;
			br {
				display: none;
			}
		}
	}
	#customDots,#customDots2 {	
		&.owl-dots {
		    width: 100%;
		    text-align: center;
		    right: auto;
		    bottom: 53px;
		    display: flex;
			align-items: center;
			justify-content: center;
		}
		button{
			&.owl-dot{
				width: 10px;
				height: 10px;
				line-height: 15px;
				margin-right: 11px;
				border: 2px solid #fff;
				&.active {
					margin-top: 0;
					text-align: center;
					background-color: #fff;
				    height: 15px;
				    width: 15px;
					line-height: 10px;
				    &:before{
				    	visibility: visible;
					}
				}
				&:before {
					text-align: center;
					visibility: hidden;
					color: $blue;
					font-weight: bold;
					font-size: 11px;
					line-height: 11px;
					content: counters(dots, ".");
				}
			}
		}
	}
	#customDots2 {
		&.owl-dots {
			position: relative;
			bottom: auto;
			right: auto;
			margin-top: 30px;
		}
		button{
			&.owl-dot{
				border: 2px solid $blue;
				&.active {
					background-color: $blue;
					border-color: $blue !important;
				}
				&:before {
					color: #fff;
				}
			}
		}
	}

	h3.gradient.text,h4.gradient.text {
		font-size: 20px;
		line-height: 26px;
	}
	.fz18 {
		font-size: 15px;
		line-height: 18px;
	}
	.b-header__menu {
		display: none;
		width: 100%;
		position: absolute;
		top: 80px;
		left: 0;
		background-color: #fff;
		z-index: 3000;
		padding:0px 35px;
		height: 100vh;
		.b-topmenu__list {
				display: block;
				width: 100%;
			
			.b-topmenu__item {
				display: block;
				width: 100%;
				padding: 20px 0px;
				border-top: 1px solid #ccc;
			}

		}
	}
	.b-features__container {
		padding-top: 40px;
	}
	.gutter {
		&_bottom {
			padding-bottom: $gutter2_media;
		}
		&_top {
			padding-top: $gutter2_media;
		}
		&_no {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
	}
	.margin {
		&_top100 {
			margin-top: 40px;
		}
		&_bot100 {
			margin-bottom: 40px;
		}
		&_bot50 {
			margin-bottom: $gutter;
		}
		&_top50 {
			margin-top: $gutter;
		}
		&_top_gut {
			margin-top: $gutter;
		}
		&_bot_gut {
			margin-bottom: $gutter;
		}
		&_right_gut {
			margin-right: $gutter;
		}
	}
	.b-features__list-item,.b-professionals__desc {
		font-size: 13px;
		line-height: 18px;

	}

	.b-midbanner {
	min-height: 335px;
	font-size: 31px;
	line-height: 36px;
		&__button {
		margin-top: 20px;
		}
		&__title {
			padding: 0 15px;
			font-size: 25px;
		}
		&__button {
			margin-top: 90px;
		}
	}
	.b-seo {
		&__title {
		font-size: 20px;
		font-weight: 200;
		padding-top: 10px;
		padding-bottom: 15px;

	}
		&__block {
			font-size: 13px;
			padding-bottom: 30px;
			&-padding {
				padding-top: 30px;
			    font-size: 13px;
			    line-height: 1.2;

			}
			&-gradient {
				padding-bottom: 30px;
				width: 100%;
			}
		}
		&__container {
		    min-height: 190px;

		}
		&__image {

		    margin-bottom: 30px;

		}
		.buy2 {

		    margin-top: 0px;
		    margin-bottom: 30px;

		}
	}	
	.counter {
		display: none;
	}	
	.navContainer {
		display: none;
	}
	.b-collections {
		.wideslider {
		    width: 90%;
		    margin: auto;
		}	
	}
	.owl-carousel .owl-stage-outer {
		overflow: visible;
	}
	.owl-carousel.owl-drag .owl-item {
	}
	.b-catalog {
		&__item {
			&-top {
				height: 160px;
			}
			&-desc {
				margin-top: 13px;
			}
			&-link {
				margin-right: 8px;
			}
			&-link,&-price {
				margin-top: 0;
				font-size: 15px;
				display: inline-block;
			}
		}
	}
	.b-news {
		&__item {
		    margin-top: 0px;
		}
		&__tabs {
			text-align: center;
			padding-bottom: 10px;
			&-link {
   				text-align: left;
				margin-left: 0;	
				display: block;
				padding: 15px 0;
				padding-left: 15px;
				border-top: 1px solid #fff;
				&:after {
				    content: '';
				    position: absolute;
				    right: 15px;  
				    margin-top: 5px;
				    width: 0; 
					height: 0; 
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-left: 5px solid $blue;
				    display: inline-block;
				}
				&.active {
					border-top: none;
					position: relative;
					bottom: auto;
					width: auto;
					text-align: center;
					padding: 0;
					&:after {
						position: relative;
						border:none;
						right: auto;
					}
				}
			}
			&-container {
				position: absolute;
    			bottom: -35px;
				left: 0;
				width: 100%;
			}
		}
		&__banner {
			min-height: 387px;
			margin-top: 0;
			.b-news__desc-title {
				font-size: 18px;
			}
			.b-news__desc-text {
				font-size: 12px;
			}
			.b-news__desc-date {

			    font-size: 14px;
			    padding-bottom: 50px;

			}			
		}
		#wideslider3 {
			margin-bottom: 90px;
		}
	}
	#wideslider_counter3.counter,#wideslider_counter4.counter {
		display: block;
		text-align: center;
		padding-bottom: 10px;
	}
	.b-shop {
		&__link {
			font-size: 12px;
			}
		&__form {
			.button {
				width: 100%;
				margin-top: 20px;
			}
		}
		&__desc {
		    padding: 10px;
		}
		&__quantity{
			&-input {
				width: 52px;
			}
		}
		&__icons {
		    padding-bottom: 15px;
		    padding-top: 15px;
		}
		&__price {
		    padding-bottom: 15px;

		}
		&__link {
			margin-bottom: 15px;
			}
	} 
	.footer{
		display: none;
		&__mobile {
		padding: 20px 0;
		padding-bottom: 0;
		display: block;
			&-social {
				text-align: center;
				.social__link {
					font-size: 17px;
					margin-right: 20px;
				}
			}
			&-button {
				width: 100%;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			&-dropdown {
				cursor: pointer;
				font-size: 14px;
				display: block;
				color: $blue;
				padding: 15px 0;
				border-top: 1px solid #cccccc;
				&:after {
				    content: '';
				    position: absolute;
				    right: 15px;  
				    margin-top: 5px;
				    width: 0; 
					height: 0; 
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 5px solid $blue;
				    display: inline-block;
				    transition: all ease-out .3s;
				}
				&.active:after {
					transform: rotate(-180deg);
				}
			}
			&-links {
				margin-bottom: 20px;
				display: none;
			}
			&-link {
				display: block;
				font-size: 12px;
				color: $blue;
			}
			&-title,&-email {
				display: block;
				margin-bottom: 12px;
			}
			&-container {
				margin-bottom: 12px;
			}
			&-menu {
				&.border_bottom {
					border-bottom: 1px solid #cccccc;
					margin-bottom: 20px;
				}
			}
			&-bottom {
				background-color: #fff;
				padding: 25px 15px;
				text-transform: uppercase;
				font-size: 14px;
				color: #ccc;

			}
			&-rights {
				display: inline-block;
				float: left;
			}
			&-webprofy {
				display: inline-block;
				color: #ccc;
				float: right;
			}
		}
	}
	.b-professionals {
		padding-top: 10px !important;
		&__desc {
			&-link {
				text-align: left;
				margin-left: 0;
				display: block;
				padding: 15px 0;
				padding-left: 0px;
				padding-left: 15px;
				border-top: 1px solid #ccc;
				&:after {
				    content: '';
				    position: absolute;
				    right: 15px;
				    margin-top: 5px;
				    width: 0;
				    height: 0;
				    border-top: 5px solid transparent;
				    border-bottom: 5px solid transparent;
				    border-left: 5px solid #1f4a8e;
				    display: inline-block;
				}
				&:last-child {
					border-bottom: 1px solid #ccc;
				}
			}
		}
		h3.gradient.text {
			padding-top: 30px;
		}
	}
}

// ≥576px
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
