@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.b-order {
		&__imgblock {
			margin-right: 10px;
		}
		&__product {
			&-quantity {
				padding: 5px 15px 0px 15px;
			}
		}
	}
	.b-topmenu__item {
		margin-right: 15px;
	}
	.b-topmenu__phone {
		margin-right: 0px;
	}
	.b-header-icons__link {
		margin-left: 18px;
	}	

	.b-cart {
		&__item {
			&-imgblock {
				margin-right: 30px;
			}
			&-quantity {
				padding-right: 30px;
			}
			&-del {
				margin-left: 30px;
			}
		}
		&__price {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	
}

// ≥992px
@include media-breakpoint-down(md) {
	.checkbox__title::before, .radio__title::before {
		width: 25px;
		height: 25px;
		border-width: 2px
	}
	.b-order {
		&__title {
		margin-left: -15px;
		margin-right: -15px;

		}
		&__total {
		margin-left: -15px;
		margin-right: -15px;
		padding: 15px 30px;
		background: rgba(243,231,233,1);
		background: -moz-linear-gradient(left, rgba(243,231,233,1) 0%, rgba(227,238,255,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,231,233,1)), color-stop(100%, rgba(227,238,255,1)));
		background: -webkit-linear-gradient(left, rgba(243,231,233,1) 0%, rgba(227,238,255,1) 100%);
		background: -o-linear-gradient(left, rgba(243,231,233,1) 0%, rgba(227,238,255,1) 100%);
		background: -ms-linear-gradient(left, rgba(243,231,233,1) 0%, rgba(227,238,255,1) 100%);
		background: linear-gradient(to right, rgba(243,231,233,1) 0%, rgba(227,238,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e7e9', endColorstr='#e3eeff', GradientType=1 );
		&-price {
			font-size: 25px;
		}
		&-delivery {
			font-size: 25px;
			font-weight: 300;
		}

		}
		&__button {
			background: none;
		}
		&__form {
			padding-bottom: 0 !important; 
			.b-select__wrap {
			    margin-bottom: 103px;
			}
		}
		&__radio {	
		&-title {
			padding-left: 40px;
			top: calc(50% - 11px);
		}
		&-wrapper {
			margin-bottom: 20px;
			&:before {
				// display: none !important;
			}
		}
			&-text {
				padding-left: 40px;
				padding-right: 0;
			}
		}
		&__product,&__details {
			padding: 15px;
			background: none;
			&-totalprice {
				display: inline-block;
				padding: 0;
				float: right;
				font-size: 25px;
			}
			&-quantity {
				font-size: 17px;
				padding-top: 5px;
				display: inline-block;
			}
			.cart_item_price {
				text-align: right;
				color: #666;
			}
		}
		&__details {
			position: relative;
			&-right {
				position: absolute;
				right: 15px;
				top: 10px;
			}
		}
	}
	.b-faq {
		&__answer {
			padding: 0 15px;
		}
		.b-contacts__title {
			&:after {
				display: none;
			}
			&.hide {
				font-weight: bold;
			}
		}
	}
	.b-contacts {
		&__title {
			font-size: 16px;
		}
		&__info .button.buy {
			margin-top: 4px;
    		padding: 4px 20px;
    		margin-left: 0;
		}
		&__info {
			&-head {
				margin-top: 25px;
				margin-bottom: 7px;
			}
		}
		&__container {
			&-title{
				margin-bottom: 10px;
			}
		}
	}
	.b-calc {
		&__tabs {
			&-link {
				margin-right: 10px;
			}
		}
	}
	.b-topbanner {
		&__video {top: 19px;}
		&__appoint {
				right: 150px;
				max-width: 100%;
			&-text {
				display: none;
			}
			&-link {
				margin-top: 148px;
			}
		}
	}
	.button {
		font-size: 15px;
		padding: 13px 40px;
		&.buy{
				padding: 13px 40px;

		}
	}
	.wideslider {
		width: 100%;
	}
	p {
		margin-top: 1rem;
	}
	body {
	    font-size: 15px;
	    line-height: 1.5;
	    padding-top: 50px;
	}	
	h1,.b-news__tabs-link.active {
		font-size: 30px;
		line-height: 40px;
	}	
	h2,a {
		&.gradient.text{
			font-size: 30px;
			padding-top: 60px;
			padding-bottom: 50px;
		}
	}
	h3.gradient.text {
		font-size: 24px;
	}
	.b-intro {
		&__title {
		font-size: 72px;
		line-height: 70px;
		}
		&__text {
    		font-size: 14px;
		}
		&__description {
			bottom: 220px;

		}
	}
	.b-navigation {
		text-align: center;
		&__link {
			font-size: 18px;
		}
	}
	.b-shop {
		&__item {
			margin-bottom: 25px;
		}
		&__popup {
			display: none !important;
		}
		&__img {
			&-item {
				width: 100%;
			}
		}
	}
	.b-links {
		&__link {
		    font-size: 12px;
		}
		&__block {
			font-size: 12px;
		}
		&__title {
			padding-left: 30px;
			font-size: 12px;
			&:before {
			width: 25px;
			height: 22px;
			top: calc(50% - 14px);
			background-size: contain !important;
			}
		}
	}
	.b-header {
		display: none;
		&-mobile {
			display: flex;
			height: 50px;
			position: fixed;
			width: 100%;
			text-transform: uppercase;
			font-size: 12px;
			background: #fff;
			z-index: 3000;
			top: 0;
			&__profile {
				display: block;
				position: fixed !important;
				padding: 25px 0 25px 38px !important;
				bottom: 0px !important;
				left: 0px !important;
				width: 100% !important;
				background-color: #fff !important;
				font-size: 12px !important;
				transition: none !important;
				overflow: visible !important;
				transform: none !important;
				right: auto !important;
				top: auto !important;
				&.mm-hidden {
					display: block !important;
				}
				&.hide {
					display: none !important;
				}
				&-login {
					position: relative;
					text-transform: none;
					letter-spacing: 1px;
					display: block;
					font-size: 12px;
					text-decoration: underline;
					padding-left: 20px;
					margin-bottom: 25px;
					&:before{
						content: ' ';
						background: url(../img/login.svg) no-repeat;
						background-size: contain;
						width: 17px;
						height: 17px;
						left: 0;
						display: inline-block;
						position: absolute;
					}
				}
					&-phone {
						font-size: 14px;
						letter-spacing: 0.5px;
					}
			}
			&__search {
				display: inline-block;
				margin-left: 35px;
				font-size: 16px;
				width: 17px;
				height: 17px;
				background-size: contain;
				background-repeat: no-repeat;
				background-image: url(../img/search.svg);
			}
			&__logo {
				width: 50px;
				height: 34px;
			}
			&__menuelement {
				    padding: 20px 10px 20px 38px;
				&-link {	
					text-transform: uppercase;
					font-size: 12px;
					color: #000;
				    letter-spacing: 1px;
				    padding: 0 !important;
				}
			}
			&__secondlevel {
				text-transform: none;
				&-item {
					border-bottom: none;
					text-transform: none;
				    padding: 7px 10px 7px 38px;
					color: #666;
					font-size: 13px;
				    &:after {
				    	display: none;
				    }
				    &:first-child {
				    	margin-top: 0 !important;
				    }
				}
				&-link {
					padding: 0 !important;
				}
				&-title {
				    margin-top: 0 !important;
					font-family: 'PTSans', sans-serif;
					text-transform: none;
				    padding: 20px 10px 5px 38px;
				    font-size: 15px;
				    color: #000;
				    &:after {
				    	display: none;
				    }
				}
				&-imgblock {
					width: 150px;
					height: 70px;
					display: inline-block;
				}
				&-img {
					display: inline-block;
					margin-right: 18px;
					margin-top: 11px;
					width: 120px;
					height: 70px;
				}
				&-imgtitle {
					padding: 0 !important;
					display: inline-block !important;
				}
			}
		}
	}
	#my-menu {
		z-index: 3000;
		margin-top: 50px;
		width: 100%;
		background: #fff;
		max-width: 100%;

	}
	.mm-listitem::after {
    left: 38px;
    right: 38px;	
	}
	.mm-listitem:first-child {
		margin-top: 35px;
	}
	.mm-listitem:first-child:before {
	    content: '';
	    border-top-width: 1px;
	    border-top-style: solid;
	    display: block;
	    position: absolute;
	    left: 38px;
	    right: 38px;
	    top: 0;
	    border-color: #ccc;
	}
	.mm-listitem > a, .mm-listitem > span {
	}
	.mm-listitem .mm-btn_next::before {
		display: none;
	}
	.mm-listitem .mm-btn_next {
		right: 19px;
	}
	.mm-navbar {border-bottom: none;padding: 0 37px; text-align: left;}
	.mm-navbar a {
		border-bottom: 	1px solid #ccc;
	}
	.mm-menu .mm-navbar a, .mm-menu .mm-navbar > * {
	    color:#ff0066;
	    letter-spacing:1px;
	    text-transform: uppercase;
	    font-size: 12px;
	    padding-left: 15px;
	}
	.mm-btn_next:after,.mm-btn_prev:before {
		border-top: 1px solid transparent;
		border-left: 1px solid transparent;
	}	
	.mm-menu .mm-btn {
		border-bottom: none;
	    left: 15px;
	    padding-left: 0;
	}
	.mm-menu .mm-btn::before {
	    border-color: #ff0066;
	}
	.mm-listitem, .mm-listitem .mm-btn_next, .mm-listitem .mm-btn_next::before, .mm-listitem::after, .mm-listview {
	    border-color: #ccc;
	}	
	#customDots.owl-dots {
		right: auto;
		left: 15px;
		bottom: 80px;
	}
	.gutter {
		&_bottom {
			padding-bottom: 50px;
		}
		&_top {
			padding-top: 60px;
		}
		&_no {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
	}
	.margin {
		&_top100 {
			margin-top: 60px;
		}
		&_bot100 {
			margin-bottom: 50px;
		}
		&_bot50 {
			margin-bottom: $gutter;
		}
		&_top50 {
			margin-top: $gutter;
		}
		&_top_gut {
			margin-top: $gutter;
		}
		&_bot_gut {
			margin-bottom: $gutter;
		}
		&_right_gut {
			margin-right: $gutter;
		}
	}
	.padding {
		&_top100 {
			padding-top: 60px;
		}
		&_bot100 {
			padding-bottom: 50px;
		}
	}
	.b-stats {
		&__numbers {
			    margin-right: 30px;
			&-num {
			    font-size: 30px;
				font-weight: 300;
			}
			&-title {
				font-size: 13px;
			}
		}
		&__gutter {

		    padding-top: 154px;

		}		
	}
	.b-features {
		&__list {
			&-title{
				font-size: 15px;
			}
			&-item {
			padding-left: 70px;
			&:before {

    			background-size: contain !important;
			}
			}
			&__text {
			    font-size: 12px;
			}		
		}
			&__container {
			    padding-top: 60px;

			}	
	}
	.b-catalog {
		&__item {
			&-link {
			    font-size: 16px;

			}
		}
		&__addition {
			margin-top: 40px;
			padding-bottom: 20px;
			border-bottom: 1px solid #ccc;	
			&:first-child {
				margin-top: 0;
			}
			&-img {
				border: 1px solid #f1f1f1;
				margin: 25px 0;	
			}
			&-price {
				padding: 20px 0;
			}
		}
		&__mainlink {
			background: #f3e7e9;
            background: linear-gradient(to right,#f3e7e9 0,#e3eeff 100%);
			padding: 10px 15px;
			width: 100%;
		}
	}
	.b-professionals {
		&__desc {
			font-size: 12px;
			line-height: 15px;
			&-link {
				display: block;
				margin-right: 0;
				margin-bottom: 10px;
			}
		}
	}

	.b-midbanner {
		padding:63px 15px 0px 15px;
		line-height: 1.2;
		font-weight: normal;
		&__button {
			margin-top: 25px;
		}		
	}	
	.b-news {
		&__tabs {
			font-size: 12px;
		}
		&__desc {
			&-date {
				padding-top: 15px;
			}
		}
	}	
	#wideslider3.wideslider {
		width: 100%;
	}		
	.b-seo {
		&__title {
			padding-top: 50px;
		    font-size: 30px;
		}
		&__block {
		    font-size: 13px;
		    padding-bottom: 50px;
			&-padding {
				font-size: 15px;

				}

		}
	}

	.humb {
		display: inline-block;
	}
	.b-topmenu {
		&__dropdown {
			&.login {
				height: 100vh;
				top: 50px;
				width: 100%;
				max-width: 100%;
				background-color: #fff;
			}
		}
	}
	.b-topmenu-mobile {
		position: absolute;
		width: 100%;
		background-color: #fff;
		z-index: 11;
		left: 0;
		top: 50px;
		padding-top: 35px;
		height: 100vh;
		&__button {
			float: none;
			width: 100%;
			margin-top: 25px;
		}
		&.favorites {
			padding-left: 15px;
			padding-right: 15px;

		}
		.b-topmenu__favorites-desc {
			padding-right: 40px;
		}
		&__shopbag {
			&-container {
				margin-top: 13px;
				margin-bottom: 70px;
			}
			&-text {
				color: #333333;
				text-transform: none;
				font-size: 13px;
				padding-right: 5px;
			}
			&-price {
				color: #333333;
				font-size: 36px;
			}
			&-link {
				text-decoration: none;
				float: left;
			}
		}
	}
	.b-collections {
		&__navigation {
				    margin-left: -15px;
    				margin-right: -15px;
			&-head {
				padding-top: 20px;
				padding-bottom: 20px;
				border-top: 1px solid #ccc;
				&:after{
					background: none;
					position: absolute;
					right: 30px;
					top: 25px;
					width: 0; 
					height: 0; 
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-left: 5px solid $blue;
				}
				&.close:after {
					background: none;
					transform: rotate(90deg);

				}
			}
			&-container {
				display: none;
			}
		}
	}
	.b-select {
		&__title {
			cursor: pointer;
			&:after {
				width: 0; 
				height: 0; 
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid #000;
				position: absolute;
				right: 14px;
				top: 5px;
				content: '';
				transition: all ease-out .3s;
			}
			&.active:after {
					transform: rotate(180deg);
			}
		}
	}
	.b-cart {
		&__item {
			&-imgblock {
				margin-right: 10px;
			}
			&-quantity {
				padding-right: 10px;
			}
			&-del {
				margin-left: 10px;
			}
		}
		&__price {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.b-forbuilders {
		&__wrapper {
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}
	.b-manualshef {
		&__container {
			padding: 25px 15px 25px 15px;
			margin-bottom: 0;
		}
		&__title {
			font-size: 15px;
			font-weight: normal;
		}
		&__button.button.buy {
			display: block;
			padding: 13px 15px;
			width: 100%;
		}
		&__banner {
			margin-bottom: 120px;
			min-height: 215px;
			&-text {
				br {
					display: none;
				}
				top: 216px;
			}

		}
	}
	.b-publications {
		&__topbanner {
			margin-top: 40px;
			.b-topbanner__container {
				padding: 40px 15px;
			}
		}
	}
	.b-search {
		&__container {
			margin-top: 10px;
		}
	}
	.head_date {
		margin-bottom: 25px;
		margin-top: 20px;
	}
	.b-item {
		&__tabs {
			&-element {
				justify-content: start !important;
				width: 100%;
			}
		}
	}
}

// ≥768px
@include media-breakpoint-down(sm) {
	.b-wheretobuy {
		&__container {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	.b-publications {
		&__topbanner {
			margin-top: 40px;
			.b-topbanner__container {
				padding: 40px 15px;
			}
			.b-topbanner__title {
				font-size: 20px;
				padding: 10px;
				margin-bottom: 10px;
			}
			.b-topbanner__text.mount_txt {
				padding: 10px;
			}
		}
	}
	.b-gallery {
		&__item,&__video {
			margin-bottom: 15px;
		}
	}
	.b-mounts {
		&__container {
			margin-bottom: 25px;
			padding-bottom: 15px;
			border-bottom: 1px solid #ccc;
			&-link {
				font-size: 18px;
				font-weight: 300;
			}
		}
	}
	.b-topbanner {
		&.short {
			min-height: 80px;
			.b-topbanner__container {
				padding: 0;
			}
			.b-topbanner__subscribe{
				display: none;
			}
		}
		&.banner4 {
			min-height: 215px;
			margin-bottom: 40px;
		}
	}
	.b-topbanner.banner3 {
		    min-height: 80px;
			margin-bottom: 256px;	
		.b-topbanner__title {
			font-size: 26px;
			font-weight: 300;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			padding: 0;
			padding-bottom: 25px;

		}
		.b-topbanner__text.mount_txt,.b-topbanner__text{
			padding: 0;
			font-size: 13px;
		}
		.b-topbanner__wrapper {
			max-width: 100%;
			position: absolute;
			padding-left: 0;
			padding-right: 0;
		}
		.b-topbanner__container {
			max-width: 576px;
			margin-top: 110px;
			padding: 0;
			padding-left: 15px;
			padding-right: 15px;
			margin-left: auto;
			margin-right: auto;
		}

	}
	.display-sm-block {
		display: block;
	}
	.b-forbuilders {
		&__wrapper {
			padding: 30px 15px;
			margin-top: 10px;
			margin-bottom: 30px;
		}
		h2.gradient.text {
			font-size: 20px;
		}
		&__link-download {

		    margin-top: 15px;

		}
	}
	.b-faq {
		&__answer {
			padding: 0;
		}
	}
	.b-contacts {
		&__container {
			padding-left: 0;
			margin: 20px 0;
		}
		&__title {
			padding: 15px 30px 15px 15px;
			&:after {
				right: 15px;
			}
		}
		&__info {
			.button.buy {
				float: right;
				margin-top: 4px;
				padding: 2px 10px;
			}
		}
	}
	.b-cart {
		&__back {
			&.with_arrow{
				margin: 25px 0;
				position: relative;
				top: auto;
				left: auto;
			}
		}
		&__item {
			&-left,&-right {
				width: 100%;
			} 
			&-link {
				margin-top: 20px;
				display: block;
			}
			&-right {
				margin-top: 20px;
			}
			&-imgblock {
				margin-right: 20px;
				width: 215px;
				height: 130px;
			}
			&-quantity {
				padding-right: 20px;
				span {
					display: none;
				}
			}
			&-del {
				margin-left: 0px;
				position: absolute;
				top: 15px;
				right: 30px;
			}
		}
		&__agree {
			padding: 0;
			color: #666;
			br {
				display: none;
			}
		    text-align: center;
		}
		&__total {
			text-align: center;
			display: block;
			margin-top: 20px;
		}
		&__price {
			padding-left: 0px;
			padding-right: 0px;
			position: absolute;
			display: none;

		}
	}	
	.fancy_call {
			margin-top: 0;
		h2 {
			font-size: 22px !important;
		}
	}
	.fancybox-close-small {
    	top: 30px;
	}
	.fancybox-slide::before {
		display: none;
	}	
	.fancybox-slide--html {
    	padding: 0;
	}
	.b-calc {
		&__price {
			text-align: center;
			&-title {
				display: block;
			}
			&-tooltip {
				margin-right: 0;
			}
			&-link {
				display: block;
				margin-bottom: 25px;
			}
			&-button.button.buy{
				display: block;
				width: 100%;
				float: none;
				max-height: 100%;
			}
		}
		&__tabs {
			margin-top: 40px;
			margin-bottom: 30px;
			&-link {
				margin-right: 0px;
				font-size: 14px;
				display: none;
				&.active {
					display: inline-block;
				}
			}
		&-number {
			margin-right: 6px;
			width: 20px;
			height: 20px;
			line-height: 20px;
			font-size: 12px;
		}
		}
		&__sizes {
			&-inputblock:after {
				right: 30px !important;
			}
		}		
		&-item {
			&-img {
				height: 100px;
			}
			&-imgelement {
				width: 100%;
				height: 100%;
			}
		}
		&__form{
			padding: 38px 15px 38px 15px;
			&-button {
				display: block;
				float: none;
				width: 100%;
			}
			&-title.gradient.text {
				font-size: 18px;
			}
		}
		&__back {
			margin-bottom: 25px;
		}
	}
	.display-sm-none {
			display: none !important;
		}
	.b-arch {
		&__tabs {
			&-element {
				font-size: 14px;
				padding-top: 15px;
				text-transform: none;
				padding-bottom: 15px;
				&.left {
					padding-left: 20px;
					padding-right: 20px;
				}
				&.right {
					padding-left: 20px;
					padding-right: 20px;
				}
			}
		}
			&__container {
				padding: 40px 15px;
			}
			&__table {
				margin-top: 30px;
				margin-bottom: 50px;
				&-title {
					display: none;
				}
				&-link {
					display: block;
					font-size: 12px;
					margin-bottom: 5px;
					&:last-child {
						margin-bottom: 0;
					}
				}
				td {
					display: block;
					padding: 15px;
					border: none;
					text-align: center;
					img{
						width: 290px;
					}
				}
				tr {
					border-bottom: 1px solid #fff;
				}
			}
			&__button {
				display: block;
				width: 100%;
			}
	}
	.b-about {
		&__text {
			font-size: 13px;
			&.warrantymoblie {
				padding-right: 70px;

			}
		}
		&__waranty {
			position: absolute;
			height: 70px;
			width: 60px;
			top: 91px;
			right: 30px;
			background-size: contain;
		}
	}
	.padding {
		&_top100 {
			padding-top: 40px;
		}
		&_bot100 {
			padding-bottom: 30px;
		}
	}	
	.mobilefluid {
		width: 100%;
		max-width: 100%;
		.col-12 {
			padding: 0;
		}
	}

	.b-links {
		&__block {
			font-size: 14px;
			margin: 0;
			width: 100%;
			min-height: 80px;
			br {
				display: none;
			}
		}
		&__container {
			width: 100%;
			display: block !important;
			padding: 0;
		}
		&__title {
			padding: 0;
			font-size: 14px;
			br {
				display: none;
			}
			&:before {
				display: none;
			}
		}
	}
	.b-stats {
		&__numbers {
    	margin-right: 12px;
	    	&-num {
	    	font-size: 20px;
	    	padding-right: 5px;
		}
		&-title {
			font-size: 12px;
			line-height: 1.2;
		}
	}
		&__gutter {
			padding-top: 20px;
			padding-bottom: 20px;
		    margin-top: 15px;

		}
	}
.b-features {
	&__list {
		&-title{
			font-size: 14px;
		}
		&-item {
		padding-left: 70px;
		}
	}
}
	body {
		font-size: 13px;
	}
	h1,.b-news__tabs-link.active {
		font-size: 26px;
		line-height: 30px;
	}
	.gradient.text {
		&:after {
			height: 1px;
		}
	}	
	h2,a {
		&.gradient.text{
			font-size: 26px;
			line-height: 30px;
			padding-top: 40px;
			padding-bottom: 33px;
			&:after {
				height: 1px;
			}
		}
	}
	.b-intro {
		&__title {
			font-size: 36px;
			line-height: 35px;
			padding: 10px;
		}	
		&__text {
			font-size: 12px;
			line-height: 16px;	
			padding:10px;
		}
		&__item {
			min-height: 517px;
		}
		&__description {
		    max-width: 265px;
		    bottom: 130px;
		}
		&__about {
			padding-bottom: 33px;
			br {
				display: none;
			}
		}
	}
	#customDots,#customDots2 {	
		&.owl-dots {
		    width: 100%;
		    text-align: center;
		    right: auto;
		    bottom: 53px;
		    display: flex;
			align-items: center;
			justify-content: center;
		}
		button{
			&.owl-dot{
				width: 10px;
				height: 10px;
				line-height: 15px;
				margin-right: 11px;
				border: 2px solid #fff;
				&.active {
					margin-top: 0;
					text-align: center;
					background-color: #fff;
				    height: 15px;
				    width: 15px;
					line-height: 10px;
				    &:before{
				    	visibility: visible;
					}
				}
				&:before {
					text-align: center;
					visibility: hidden;
					color: $blue;
					font-weight: bold;
					font-size: 11px;
					line-height: 11px;
					content: counters(dots, ".");
				}
			}
		}
	}
	#customDots2 {
		&.owl-dots {
			position: relative;
			bottom: auto;
			right: auto;
			margin-top: 30px;
		}
		button{
			&.owl-dot{
				border: 2px solid $blue;
				&.active {
					background-color: $blue;
					border-color: $blue !important;
				}
				&:before {
					color: #fff;
				}
			}
		}
	}

	h3.gradient.text,h4.gradient.text {
		font-size: 20px;
		line-height: 26px;
	}
	.fz18 {
		font-size: 15px;
		line-height: 18px;
	}
	.b-header__menu {
		display: none;
		width: 100%;
		position: absolute;
		top: 80px;
		left: 0;
		background-color: #fff;
		z-index: 3000;
		padding:0px 35px;
		height: 100vh;
		.b-topmenu__list {
				display: block;
				width: 100%;
			
			.b-topmenu__item {
				display: block;
				width: 100%;
				padding: 20px 0px;
				border-top: 1px solid #ccc;
			}

		}
	}
	.b-features__container {
		padding-top: 40px;
	}
	.gutter {
		&_bottom {
			padding-bottom: $gutter2_media;
		}
		&_top {
			padding-top: $gutter2_media;
		}
		&_no {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
	}
	.margin {
		&_top100 {
			margin-top: 40px;
		}
		&_bot100 {
			margin-bottom: 40px;
		}
		&_bot50 {
			margin-bottom: $gutter;
		}
		&_top50 {
			margin-top: $gutter;
		}
		&_top_gut {
			margin-top: $gutter;
		}
		&_bot_gut {
			margin-bottom: $gutter;
		}
		&_right_gut {
			margin-right: $gutter;
		}
	}
	.b-features__list-item,.b-professionals__desc {
		font-size: 13px;
		line-height: 18px;

	}

	.b-midbanner {
	min-height: 335px;
	font-size: 31px;
	line-height: 36px;
		&__button {
		margin-top: 20px;
		}
		&__title {
			padding: 0 15px;
			font-size: 25px;
		}
		&__button {
			margin-top: 90px;
		}
	}
	.b-seo {
		&__title {
		font-size: 20px;
		font-weight: 200;
		padding-top: 10px;
		padding-bottom: 15px;

	}
		&__block {
			font-size: 13px;
			padding-bottom: 30px;
			&-padding {
				padding-top: 30px;
			    font-size: 13px;
			    line-height: 1.2;

			}
			&-gradient {
				padding-bottom: 30px;
				width: 100%;
			}
		}
		&__container {
		    min-height: 190px;

		}
		&__image {

		    margin-bottom: 30px;

		}
		.buy2 {

		    margin-top: 0px;
		    margin-bottom: 30px;

		}
	}	
	.counter {
		display: none;
	}	
	.navContainer {
		display: none;
	}
	.b-collections {
		.wideslider {
		    width: 90%;
		    margin: auto;
		}	
	}
	.owl-carousel .owl-stage-outer {
		overflow: visible;
	}
	.owl-carousel.owl-drag .owl-item {
	}
	.b-catalog {
		&__item {
			&-top {
				height: 160px;
			}
			&-desc {
				margin-top: 13px;
			}
			&-link {
				margin-right: 8px;
			}
			&-link,&-price {
				margin-top: 0;
				font-size: 15px;
				display: inline-block;
			}
		}
	}
	.b-news {
		&__item {
		    margin-top: 0px;
		    margin-bottom: 45px;
		}
		&__desc {
			margin-top: 20px;
		}
		&__tabs {
			text-align: center;
			padding-bottom: 10px;
			&-link {
   				text-align: left;
				margin-left: 0;	
				display: block;
				padding: 15px 0;
				padding-left: 15px;
				border-top: 1px solid #fff;
				&:after {
				    content: '';
				    position: absolute;
				    right: 15px;  
				    margin-top: 5px;
				    width: 0; 
					height: 0; 
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-left: 5px solid $blue;
				    display: inline-block;
				}
				&.active {
					border-top: none;
					position: relative;
					bottom: auto;
					width: auto;
					text-align: center;
					padding: 0;
					&:after {
						position: relative;
						border:none;
						right: auto;
					}
				}
			}
			&-container {
				position: absolute;
    			bottom: -35px;
				left: 0;
				width: 100%;
			}
		}
		&__banner {
			min-height: 387px;
			margin-top: 0;
			margin-bottom: 45px;
			.b-news__desc-title {
				font-size: 18px;
			}
			.b-news__desc-text {
				font-size: 12px;
			}
			.b-news__desc-date {

			    font-size: 14px;
			    padding-bottom: 50px;

			}			
		}
		#wideslider3 {
			margin-bottom: 90px;
		}
	}
	#wideslider_counter3.counter,#wideslider_counter4.counter {
		display: block;
		text-align: center;
		padding-bottom: 10px;
	}
	.b-shop {
		&__link {
			font-size: 12px;
			}
		&__form {
			.button {
				width: 100%;
				margin-top: 20px;
				float: none;
			}
		}
		&__desc {
		    padding: 10px;
		}
		&__quantity{
			&-input {
				width: 52px;
			}
		}
		&__icons {
		    padding-bottom: 15px;
		    padding-top: 15px;
		}
		&__price {
		    padding-bottom: 15px;

		}
		&__link {
			margin-bottom: 15px;
			}
	} 
	.blue_link.with_arrow {
		&.bottom {
			margin-left: 55px;
		}
	}
	.blue_link.download {
		margin-top: 30px;		
	}
	.footer{
		display: none;
		&__mobile {
		padding: 20px 0;
		padding-bottom: 0;
		display: block;
		margin-top: 25px;
			&-social {
				text-align: center;
				.social__link {
					font-size: 17px;
					margin-right: 20px;
				}
			}
			&-button {
				width: 100%;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			&-dropdown {
				cursor: pointer;
				font-size: 14px;
				display: block;
				color: $blue;
				padding: 15px 0;
				border-top: 1px solid #cccccc;
				&:after {
				    content: '';
				    position: absolute;
				    right: 15px;  
				    margin-top: 5px;
				    width: 0; 
					height: 0; 
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 5px solid $blue;
				    display: inline-block;
				    transition: all ease-out .3s;
				}
				&.active:after {
					transform: rotate(-180deg);
				}
			}
			&-links {
				margin-bottom: 20px;
				display: none;
			}
			&-link {
				display: block;
				font-size: 12px;
				color: $blue;
			}
			&-title,&-email {
				display: block;
				margin-bottom: 12px;
			}
			&-container {
				margin-bottom: 12px;
			}
			&-menu {
				&.border_bottom {
					border-bottom: 1px solid #cccccc;
					margin-bottom: 20px;
				}
			}
			&-bottom {
				background-color: #fff;
				padding: 25px 15px;
				text-transform: uppercase;
				font-size: 14px;
				color: #ccc;

			}
			&-rights {
				display: inline-block;
				float: left;
			}
			&-webprofy {
				display: inline-block;
				color: #ccc;
				float: right;
			}
		}
	}
	.b-professionals {
		padding-top: 10px !important;
		&__desc {
			&-link {
				text-align: left;
				margin-left: 0;
				display: block;
				padding: 15px 0;
				padding-left: 0px;
				padding-left: 15px;
				border-top: 1px solid #ccc;
				&:after {
				    content: '';
				    position: absolute;
				    right: 15px;
				    margin-top: 5px;
				    width: 0;
				    height: 0;
				    border-top: 5px solid transparent;
				    border-bottom: 5px solid transparent;
				    border-left: 5px solid #1f4a8e;
				    display: inline-block;
				}
				&:last-child {
					border-bottom: 1px solid #ccc;
				}
			}
		}
		h3.gradient.text {
			padding-top: 30px;
		}
	}
	.b-filter {
		display: none;
		margin-left: -15px;
    	margin-right: -15px;
    	margin-bottom: 0;
    	&__number {
    		display: none;
    	}
    	&__sort{
    		margin-top: 25px;
    	}
		&-mobile {
			&__wrapper {
					display: block;
				    margin-left: -15px;
    				margin-right: -15px;
    				position: relative;
			}
			&__title.gradient.text {
				display: inline-block;
				font-size: 30px;
				line-height: 40px;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-left: 20px;
				text-transform: uppercase;
				font-weight: 300;
				&:after {
					display: inline-block;
					content: ' ';
					position: absolute;
					right: 22px;
					top: calc(50% - 15px);	
					width: 22px;
					height: 31px;
					background: url(../img/arrow_down.png) no-repeat;
				transition: all ease-out .3s;
				}
				&.active:after {
					transform: rotate(180deg);
				}
			}
		}
	}
	.b-select {
		.select2-container {
			width: 90% !important;
		}
	}	
}

// ≥576px
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
