  <footer class="footer gradient_bg">
    <div class="container">
      <div class="row">
        <div class="footer__col">
          <div class="footer__logo">© 2014 METROTILE</div>
          <div class="footer__menu-social social">
            <a class="social__link" href="#"><i class="demo-icon icon-inst"></i></a>
            <a class="social__link" href="#"><i class="demo-icon icon-vk"></i></a>
            <a class="social__link" href="#"><i class="demo-icon icon-facebook"></i></a>
            <a class="social__link" href="#"><i class="demo-icon icon-vimeo"></i></a>
            <a class="social__link" href="#"><i class="demo-icon icon-youtube"></i></a>
            <a class="social__link" href="#"><i class="demo-icon icon-gplus"></i></a>
          </div>
          <div class="footer__menu">
              <a class="footer__menu-link" href="#">О компании</a>
              <a class="footer__menu-link" href="#">Партнерство</a>
              <a class="footer__menu-link" href="#">Учебный центр</a>
              <a class="footer__menu-link" href="#">Пресс центр</a>
              <a class="footer__menu-link" href="#">Где купить</a>
              <a class="footer__menu-link" href="#">Контакты</a>
              <a class="footer__menu-link" href="#">Монтаж</a>
              <a class="footer__menu-link" href="#">Расчет черепицы</a>
              <a class="footer__menu-link" href="#">Акции</a>
              <a class="footer__menu-link" href="#">Карта сайта</a> 
          </div>
        </div>
        <div class="footer__col">
          <div class="footer__menu">
              <a class="footer__menu-link" href="#">— MetroBond</a>
              <a class="footer__menu-link" href="#">— MetroRoman </a>
              <a class="footer__menu-link" href="#">— Metrotile Mistral</a>
              <a class="footer__menu-link" href="#">— MetroShake II</a>
              <a class="footer__menu-link" href="#">— MetroClassic</a>
              <a class="footer__menu-link" href="#">— Metrotile Gallo</a>
              <a class="footer__menu-link" href="#">— Metrotile Romana</a>
              <a class="footer__menu-link" href="#">— MetroViksen</a>
              <a class="footer__menu-link" href="#">— MetroCooper</a>
              <a class="footer__menu-link" href="#">— Aquapan</a> 
          <a data-fancybox data-type="ajax" data-src="call.html" href="#" class="button buy">Оставить заявку</a>
          </div>
        </div>
        <div class="footer__col">
          <div class="footer__menu">
            <div class="footer__newitems"><a href="#" class="newitem gradient">новинки</a></div>
              <a class="footer__menu-link" href="#">— Metrotile IPanel</a>
              <a class="footer__menu-link" href="#">— Metrotile ISlate</a>
              <a class="footer__menu-link" href="#">— Metrotile IShake</a>
              <a class="footer__menu-link" href="#">— Metrotile IShingle</a>
          </div>
        </div>
        <div class="footer__contacts">
          <div class="row">
            <div class="col-md-6">
              <b class="footer__contacts-title">Адрес</b>
              <div>105120, Москва, Костомаровский пер., д. 3, офис 423</div>
            </div>
            <div class="col-md-6">
              <b class="footer__contacts-title">Контакты</b>
              <a class="footer__contacts-phone" href="tel:74953634432">+7 (495) 363 44 32</a>
              <a class="footer__contacts-phone" href="tel:74957874760">+7 (495) 787 47 60</a>
              <a class="footer__contacts-email" href="mailto:company@metrotile.ru">company@metrotile.ru</a>
            </div>
          </div>
          <div class="row align-items-end">
            <div class="col-6">
              <input class="footer__contacts-subscribe" placeholder="Подпишитесь на новости"/>
            </div>
            <div class="col-6 d-flex justify-content-start">
              <a href="#" class="footer__contacts-link blue_link">Подписаться</a>
            </div>
            
          </div>
          <div class="footer__contacts-madein">СДЕЛАНО В <a class="footer__logo-img" href="#"></a></div>
        </div>
      </div>
      </div>
    <a href="#" class="footer__up">наверх</a>
  </footer>
  <footer class="footer__mobile gradient_bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer__mobile-social social">
            <a class="social__link" href="#"><i class="demo-icon icon-inst"></i></a>
            <a class="social__link" href="#"><i class="demo-icon icon-vk"></i></a>
            <a class="social__link" href="#"><i class="demo-icon icon-facebook"></i></a>
            <a class="social__link" href="#"><i class="demo-icon icon-vimeo"></i></a>
            <a class="social__link" href="#"><i class="demo-icon icon-youtube"></i></a>
            <a class="social__link" href="#"><i class="demo-icon icon-gplus"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a data-fancybox data-type="ajax" data-src="call.html" href="#" class="footer__mobile-button button buy">Оставить заявку</a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="footer__mobile-menu">
              <div class="footer__mobile-dropdown">О компании</div>
              <div class="footer__mobile-links">
                <a class="footer__mobile-link" href="#">Партнерство</a>
                <a class="footer__mobile-link" href="#">Учебный центр</a>
                <a class="footer__mobile-link" href="#">Пресс центр</a>
                <a class="footer__mobile-link" href="#">Где купить</a>
                <a class="footer__mobile-link" href="#">Контакты</a>
                <a class="footer__mobile-link" href="#">Монтаж</a>
                <a class="footer__mobile-link" href="#">Расчет черепицы</a>
                <a class="footer__mobile-link" href="#">Акции</a>
                <a class="footer__mobile-link" href="#">Карта сайта</a> 
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="footer__mobile-menu">
              <div class="footer__mobile-dropdown">Каталог</div>
              <div class="footer__mobile-links">
                <a class="footer__mobile-link" href="#">— MetroBond</a>
                <a class="footer__mobile-link" href="#">— MetroRoman </a>
                <a class="footer__mobile-link" href="#">— Metrotile Mistral</a>
                <a class="footer__mobile-link" href="#">— MetroShake II</a>
                <a class="footer__mobile-link" href="#">— MetroClassic</a>
                <a class="footer__mobile-link" href="#">— Metrotile Gallo</a>
                <a class="footer__mobile-link" href="#">— Metrotile Romana</a>
                <a class="footer__mobile-link" href="#">— MetroViksen</a>
                <a class="footer__mobile-link" href="#">— MetroCooper</a>
                <a class="footer__mobile-link" href="#">— Aquapan</a> 
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="footer__mobile-menu border_bottom">
              <div class="footer__mobile-dropdown">Где купить</div>
              <div class="footer__mobile-links"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <b class="footer__mobile-title">Контакты</b>
            <div class="footer__mobile-container">
              <a class="footer__mobile-phone" href="tel:74953634432">+7 (495) 363 44 32</a>;
              <a class="footer__mobile-phone" href="tel:74957874760">+7 (495) 787 47 60</a>
            </div>
            <a class="footer__mobile-email" href="mailto:company@metrotile.ru">company@metrotile.ru</a>
        </div>
      </div>
    </div>
    <form action="" class="container">
      <div class="row">
        <div class="col-12">
          <input class="footer__contacts-subscribe" placeholder="Подпишитесь на новости"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="#" class="footer__mobile-button button buy">Подписаться</a>
        </div>
      </div>
    </form>
      <div class="footer__mobile-bottom clearfix">
            <div class="footer__mobile-rights">© 2014 METROTILE</div>
            <a href="#" class="footer__mobile-webprofy">сделано в webprofy</a>
      </div>
    
  </footer>
  <script src="js/scripts.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

</body>
</html>
