
	<section class="b-about">
	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
  				<li><a href="#">Главная</a></li>
  				<li>Инструкции по монтажу</li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text text-center">О компании</h1>
		</div>
	</div>
	<div class="b-topbanner short" style="background-image: url(/img/topbanner_short2.jpg);"></div>
	<div class="container margin_top100">
			<div class="row align-items-center">
				<div class="col-md-2">
					<h2 class="b-about__title gradient text">производство</h2>
				</div>
				<div class="offset-md-2 col-md-8">
					<p class="b-about__text">Многолетний опыт работы, уникальные инженерные разработки и жёсткий контроль качества делают продукцию Metrotile оптимальным выбором для строительства и реконструкции зданий со скатной кровлей. Дома, покрытые композитной черепицей Metrotile, вы увидите по всему миру.</p>
				</div>
			</div>
	</div>
	<div class="gradient_bg padding_bot100 padding_top100 margin_top100">
		<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h2 class="b-about__title gradient text no_border">ГАРАНТИИ И СЕРТИФИКАТЫ</h2>
						<p class="b-about__text margin_top50 margin_bot50">На всю продукцию Метротайл дается письменная гарантия сроком 30 лет. Во избежание подделок требуйте у продавца.</p>
						<div class="b-about__waranty"></div>
					</div>
					<div class="offset-md-1 col-md-8">
						<div class="row">
						<div class="col-md-4">
							<a href="#" class="b-about__sertificat">
								<img class="b-about__sertificat-img" src="img/manual.jpg" alt="manual" />
								<a class="b-about__sertificat-link" href="#">Гарантийный талон</a>
							</a>
							
						</div>
						<div class="col-md-4">
							<a href="#" class="b-about__sertificat">
								<img class="b-about__sertificat-img" src="img/manual2.jpg" alt="manual" />
								<a class="b-about__sertificat-link" href="#">Сертификат пожарной безопасности</a>
							</a>
						</div>
						<div class="col-md-4">
							<a href="#" class="b-about__sertificat">
								<img class="b-about__sertificat-img" src="img/manual3.jpg" alt="manual" />
								<a class="b-about__sertificat-link" href="#">Сертификат соответствия продукции требованиям нормативных документов ГОСТ</a>
							</a>
						</div>
							
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="container margin_top100">
			<div class="row align-items-center">
				<div class="col-md-2">
					<h2 class="b-about__title gradient text">История</h2>
				</div>
				<div class="offset-md-2 col-md-8">
					<p class="b-about__text">Наша компания работает на российском рынке с 2002 года и зарекомендовала себя, как надежный партнер и поставщик высококачественных кровельных покрытий Metrotile производства Бельгии.</p>
				</div>
			</div>
	</div>
	<div class="b-news gradient_bg margin_top100 gutter_bottom">
					<div class="container">
					<div class="row">
						<div class="col-12">
								<h2 class="gradient text">Новости</h2>
						</div>
					</div>
					<div class="row">
					<div class="col-12">
					<div id="wideslider_counter3" class="counter"></div>
					<div id="wideslider3" class="owl-carousel wideslider">
						<div class="b-news__item">
							<div class="b-news__img">
								<img class="b-news__img-element" src="img/news1.png" alt="news">
							</div>
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">1 декабря компания Metrotile Europe отметила свое 20-летие. Мероприятие прошло в г. Тонгерен, Бельгия. </div>
							</div>
						</div>
						<div class="b-news__item">
							<div class="b-news__img">
								<img class="b-news__img-element" src="img/news1.png" alt="news">
							</div>
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">1 декабря компания Metrotile Europe отметила свое 20-летие. Мероприятие прошло в г. Тонгерен, Бельгия. </div>
							</div>
						</div>
						<div class="b-news__banner" style="background: url(img/news_banner.png) no-repeat;">
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">Обучающая программа <br>в области композитной<br> черепицы, с целью<br> поддержания высокого уровня<br> знаний продающего штата<br> сотрудников.</div>
							</div>
						</div>
						<div class="b-news__item">
							<div class="b-news__img">
								<img class="b-news__img-element" src="img/news1.png" alt="news">
							</div>
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">1 декабря компания Metrotile Europe отметила свое 20-летие. Мероприятие прошло в г. Тонгерен, Бельгия. </div>
							</div>
						</div>
						<div class="b-news__item">
							<div class="b-news__img">
								<img class="b-news__img-element" src="img/news1.png" alt="news">
							</div>
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">1 декабря компания Metrotile Europe отметила свое 20-летие. Мероприятие прошло в г. Тонгерен, Бельгия. </div>
							</div>
						</div>
					</div>
							
						</div>
					</div>
					</div>
	</div>		
		<div class="container margin_top100">
			<div class="row align-items-center">
				<div class="col-md-2">
					<h2 class="b-about__title gradient text">Дилерам</h2>
				</div>
				<div class="offset-md-2 col-md-8">
					<p class="b-about__text">Основным направлением работы Metrotile с дилерами является активное, конструктивное и взаимовыгодное сотрудничество, направленное на продвижение композитной черепицы Metrotile на российский рынок путём проведения различных совместных мероприятий (выставки, семинары, рекламные акции) и создания европейского сервиса для частного покупателя.</p>
					<div class="b-about__link blue_link no_border">Сотрудничество</div>
					<div class="b-about__link blue_link no_border">Условия</div>
				</div>
			</div>
		</div>
		<div class="gradient_bg">
			<div class="b-otzyvy container margin_top100 padding_bot100">
					<div class="row">
						<div class="col-12">
								<h2 class="gradient text">Отзывы наших клиентов</h2>
						</div>
					</div>	
					<div class="row">
						<div class="col-12">
						<div class="counter"></div>
						<div id="otzyvy_slider" class="wideslider owl-carousel">
							<a href="#" class="b-otzyvy__sertificat">
								<img class="b-otzyvy__sertificat-img" src="img/manual.jpg" alt="manual" />
							</a>
							<a href="#" class="b-otzyvy__sertificat">
								<img class="b-otzyvy__sertificat-img" src="img/manual2.jpg" alt="manual" />
							</a>
							<a href="#" class="b-otzyvy__sertificat">
								<img class="b-otzyvy__sertificat-img" src="img/manual3.jpg" alt="manual" />
							</a>
							<a href="#" class="b-otzyvy__sertificat">
								<img class="b-otzyvy__sertificat-img" src="img/manual4.jpg" alt="manual" />
							</a>
							<a href="#" class="b-otzyvy__sertificat">
								<img class="b-otzyvy__sertificat-img" src="img/manual.jpg" alt="manual" />
							</a>
							<a href="#" class="b-otzyvy__sertificat">
								<img class="b-otzyvy__sertificat-img" src="img/manual2.jpg" alt="manual" />
							</a>
							<a href="#" class="b-otzyvy__sertificat">
								<img class="b-otzyvy__sertificat-img" src="img/manual3.jpg" alt="manual" />
							</a>
							<a href="#" class="b-otzyvy__sertificat">
								<img class="b-otzyvy__sertificat-img" src="img/manual4.jpg" alt="manual" />
							</a>
							<a href="#" class="b-otzyvy__sertificat">
								<img class="b-otzyvy__sertificat-img" src="img/manual.jpg" alt="manual" />
							</a>
							<a href="#" class="b-otzyvy__sertificat">
								<img class="b-otzyvy__sertificat-img" src="img/manual2.jpg" alt="manual" />
							</a>
							</div>
						</div>
						</div>			
			</div>
		</div>
<div class="b-contacts b-vacancies container margin_bot100">
		<div class="row">
			<div class="col-12">
					<h2 class="gradient text">Вакансии</h2>
				</div>
		</div>	
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Менеджер по продажам</div>
				<div class="b-contacts__container">
					<div class="row">
						<div class="col-md-6">
							<div class="b-vacancies__container">
								<div class="b-vacancies__title">от 30 000 до 120 000 руб</div>
								<button class="b-vacancies__button button buy accept">Откликнуться на вакансию</button>
								<div class="b-vacancies__text">
								<strong class="b-vacancies__text-bold">Требуемый опыт работы:</strong>
								<p>Не требуется</p>

								<strong class="b-vacancies__text-bold">Занятость:</strong>
								<p>Полная занятость, полный рабочий день</p>
								<strong>Условия:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Работа на постоянной основе, в офисе продаж, на территории строительного комплекса, без холодных звонков и активного поиска.</li>
									<li class="b-vacancies__list-item">Обучение. Стажировка. В период обучения выплачивается заработная плата.</li>
									<li class="b-vacancies__list-item">Работа с посетителями и входящими звонками.</li>
									<li class="b-vacancies__list-item">Заработная плата: окладная часть + % от продаж.</li>
									<li class="b-vacancies__list-item">Своевременная выплата заработной платы.</li>
									<li class="b-vacancies__list-item">График работы 5/2.</li>
									<li class="b-vacancies__list-item">Корпоративная связь.</li>
									<li class="b-vacancies__list-item">Оформление по ТК.</li>
									<li class="b-vacancies__list-item">Стандартный соц. пакет, отпуск, больничный.</li>
								</ul>
								<strong class="b-vacancies__text-bold">Обязанности:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Консультирование покупателей, расчет материалов и оформление заказов с использованием компьютерных программ.</li>
									<li class="b-vacancies__list-item">Продажа кровельных материалов. </li>
								</ul>
								<strong class="b-vacancies__text-bold">Требования:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Высшее образование приветствуется.</li>
									<li class="b-vacancies__list-item">Коммуникабельность, ответственность.</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="b-vacancies__address">
								<div class="b-vacancies__text">
									
								<strong class="b-vacancies__text-bold">Адрес:</strong>
								<p>105120, Россия, Москва, Костомаровский переулок, дом 3,  офис 420, м. Чкаловская</p>
								<strong class="b-vacancies__text-bold">Время работы:</strong>
								<p>с 10:00 до 19:00</p>
								<strong class="b-vacancies__text-bold">Контактные телефоны:</strong>
								<p>8 (495) 787-47-60;  8 (495) 363-44-32</p>
								<strong class="b-vacancies__text-bold">Электронная почта:</strong>
								<a href="mailto:company@metrotile.ru" class="blue_link">company@metrotile.ru</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Директор по региональному развитию</div>
				<div class="b-contacts__container">
					<div class="row">
						<div class="col-md-6">
							<div class="b-vacancies__container">
								<div class="b-vacancies__title">от 30 000 до 120 000 руб</div>
								<button class="b-vacancies__button button buy accept">Откликнуться на вакансию</button>
								<div class="b-vacancies__text">
								<strong class="b-vacancies__text-bold">Требуемый опыт работы:</strong>
								<p>Не требуется</p>

								<strong class="b-vacancies__text-bold">Занятость:</strong>
								<p>Полная занятость, полный рабочий день</p>
								<strong class="b-vacancies__text-bold">Условия:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Работа на постоянной основе, в офисе продаж, на территории строительного комплекса, без холодных звонков и активного поиска.</li>
									<li class="b-vacancies__list-item">Обучение. Стажировка. В период обучения выплачивается заработная плата.</li>
									<li class="b-vacancies__list-item">Работа с посетителями и входящими звонками.</li>
									<li class="b-vacancies__list-item">Заработная плата: окладная часть + % от продаж.</li>
									<li class="b-vacancies__list-item">Своевременная выплата заработной платы.</li>
									<li class="b-vacancies__list-item">График работы 5/2.</li>
									<li class="b-vacancies__list-item">Корпоративная связь.</li>
									<li class="b-vacancies__list-item">Оформление по ТК.</li>
									<li class="b-vacancies__list-item">Стандартный соц. пакет, отпуск, больничный.</li>
								</ul>
								<strong class="b-vacancies__text-bold">Обязанности:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Консультирование покупателей, расчет материалов и оформление заказов с использованием компьютерных программ.</li>
									<li class="b-vacancies__list-item">Продажа кровельных материалов. </li>
								</ul>
								<strong class="b-vacancies__text-bold">Требования:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Высшее образование приветствуется.</li>
									<li class="b-vacancies__list-item">Коммуникабельность, ответственность.</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="b-vacancies__address">
								<div class="b-vacancies__text">
									
								<strong class="b-vacancies__text-bold">Адрес:</strong>
								<p>105120, Россия, Москва, Костомаровский переулок, дом 3,  офис 420, м. Чкаловская</p>
								<strong class="b-vacancies__text-bold">Время работы:</strong>
								<p>с 10:00 до 19:00</p>
								<strong class="b-vacancies__text-bold">Контактные телефоны:</strong>
								<p>8 (495) 787-47-60;  8 (495) 363-44-32</p>
								<strong class="b-vacancies__text-bold">Электронная почта:</strong>
								<a href="mailto:company@metrotile.ru" class="blue_link">company@metrotile.ru</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Помощник руководителя</div>
				<div class="b-contacts__container">
					<div class="row">
						<div class="col-md-6">
							<div class="b-vacancies__container">
								<div class="b-vacancies__title">от 30 000 до 120 000 руб</div>
								<button class="b-vacancies__button button buy accept">Откликнуться на вакансию</button>
								<div class="b-vacancies__text">
								<strong class="b-vacancies__text-bold">Требуемый опыт работы:</strong>
								<p>Не требуется</p>

								<strong class="b-vacancies__text-bold">Занятость:</strong>
								<p>Полная занятость, полный рабочий день</p>
								<strong class="b-vacancies__text-bold">Условия:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Работа на постоянной основе, в офисе продаж, на территории строительного комплекса, без холодных звонков и активного поиска.</li>
									<li class="b-vacancies__list-item">Обучение. Стажировка. В период обучения выплачивается заработная плата.</li>
									<li class="b-vacancies__list-item">Работа с посетителями и входящими звонками.</li>
									<li class="b-vacancies__list-item">Заработная плата: окладная часть + % от продаж.</li>
									<li class="b-vacancies__list-item">Своевременная выплата заработной платы.</li>
									<li class="b-vacancies__list-item">График работы 5/2.</li>
									<li class="b-vacancies__list-item">Корпоративная связь.</li>
									<li class="b-vacancies__list-item">Оформление по ТК.</li>
									<li class="b-vacancies__list-item">Стандартный соц. пакет, отпуск, больничный.</li>
								</ul>
								<strong class="b-vacancies__text-bold">Обязанности:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Консультирование покупателей, расчет материалов и оформление заказов с использованием компьютерных программ.</li>
									<li class="b-vacancies__list-item">Продажа кровельных материалов. </li>
								</ul>
								<strong class="b-vacancies__text-bold">Требования:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Высшее образование приветствуется.</li>
									<li class="b-vacancies__list-item">Коммуникабельность, ответственность.</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="b-vacancies__address">
								<div class="b-vacancies__text">
									
								<strong class="b-vacancies__text-bold">Адрес:</strong>
								<p>105120, Россия, Москва, Костомаровский переулок, дом 3,  офис 420, м. Чкаловская</p>
								<strong class="b-vacancies__text-bold">Время работы:</strong>
								<p>с 10:00 до 19:00</p>
								<strong class="b-vacancies__text-bold">Контактные телефоны:</strong>
								<p>8 (495) 787-47-60;  8 (495) 363-44-32</p>
								<strong class="b-vacancies__text-bold">Электронная почта:</strong>
								<a href="mailto:company@metrotile.ru" class="blue_link">company@metrotile.ru</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Курьер</div>
				<div class="b-contacts__container">
					<div class="row">
						<div class="col-md-6">
							<div class="b-vacancies__container">
								<div class="b-vacancies__title">от 30 000 до 120 000 руб</div>
								<button class="b-vacancies__button button buy accept">Откликнуться на вакансию</button>
								<div class="b-vacancies__text">
								<strong class="b-vacancies__text-bold">Требуемый опыт работы:</strong>
								<p>Не требуется</p>

								<strong class="b-vacancies__text-bold">Занятость:</strong>
								<p>Полная занятость, полный рабочий день</p>
								<strong class="b-vacancies__text-bold">Условия:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Работа на постоянной основе, в офисе продаж, на территории строительного комплекса, без холодных звонков и активного поиска.</li>
									<li class="b-vacancies__list-item">Обучение. Стажировка. В период обучения выплачивается заработная плата.</li>
									<li class="b-vacancies__list-item">Работа с посетителями и входящими звонками.</li>
									<li class="b-vacancies__list-item">Заработная плата: окладная часть + % от продаж.</li>
									<li class="b-vacancies__list-item">Своевременная выплата заработной платы.</li>
									<li class="b-vacancies__list-item">График работы 5/2.</li>
									<li class="b-vacancies__list-item">Корпоративная связь.</li>
									<li class="b-vacancies__list-item">Оформление по ТК.</li>
									<li class="b-vacancies__list-item">Стандартный соц. пакет, отпуск, больничный.</li>
								</ul>
								<strong class="b-vacancies__text-bold">Обязанности:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Консультирование покупателей, расчет материалов и оформление заказов с использованием компьютерных программ.</li>
									<li class="b-vacancies__list-item">Продажа кровельных материалов. </li>
								</ul>
								<strong class="b-vacancies__text-bold">Требования:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Высшее образование приветствуется.</li>
									<li class="b-vacancies__list-item">Коммуникабельность, ответственность.</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="b-vacancies__address">
								<div class="b-vacancies__text">
									
								<strong class="b-vacancies__text-bold">Адрес:</strong>
								<p>105120, Россия, Москва, Костомаровский переулок, дом 3,  офис 420, м. Чкаловская</p>
								<strong class="b-vacancies__text-bold">Время работы:</strong>
								<p>с 10:00 до 19:00</p>
								<strong class="b-vacancies__text-bold">Контактные телефоны:</strong>
								<p>8 (495) 787-47-60;  8 (495) 363-44-32</p>
								<strong class="b-vacancies__text-bold">Электронная почта:</strong>
								<a href="mailto:company@metrotile.ru" class="blue_link">company@metrotile.ru</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Бухгалтер</div>
				<div class="b-contacts__container">
					<div class="row">
						<div class="col-md-6">
							<div class="b-vacancies__container">
								<div class="b-vacancies__title">от 30 000 до 120 000 руб</div>
								<button class="b-vacancies__button button buy accept">Откликнуться на вакансию</button>
								<div class="b-vacancies__text">
								<strong class="b-vacancies__text-bold">Требуемый опыт работы:</strong>
								<p>Не требуется</p>

								<strong class="b-vacancies__text-bold">Занятость:</strong>
								<p>Полная занятость, полный рабочий день</p>
								<strong class="b-vacancies__text-bold">Условия:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Работа на постоянной основе, в офисе продаж, на территории строительного комплекса, без холодных звонков и активного поиска.</li>
									<li class="b-vacancies__list-item">Обучение. Стажировка. В период обучения выплачивается заработная плата.</li>
									<li class="b-vacancies__list-item">Работа с посетителями и входящими звонками.</li>
									<li class="b-vacancies__list-item">Заработная плата: окладная часть + % от продаж.</li>
									<li class="b-vacancies__list-item">Своевременная выплата заработной платы.</li>
									<li class="b-vacancies__list-item">График работы 5/2.</li>
									<li class="b-vacancies__list-item">Корпоративная связь.</li>
									<li class="b-vacancies__list-item">Оформление по ТК.</li>
									<li class="b-vacancies__list-item">Стандартный соц. пакет, отпуск, больничный.</li>
								</ul>
								<strong class="b-vacancies__text-bold">Обязанности:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Консультирование покупателей, расчет материалов и оформление заказов с использованием компьютерных программ.</li>
									<li class="b-vacancies__list-item">Продажа кровельных материалов. </li>
								</ul>
								<strong class="b-vacancies__text-bold">Требования:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Высшее образование приветствуется.</li>
									<li class="b-vacancies__list-item">Коммуникабельность, ответственность.</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="b-vacancies__address">
								<div class="b-vacancies__text">
									
								<strong class="b-vacancies__text-bold">Адрес:</strong>
								<p>105120, Россия, Москва, Костомаровский переулок, дом 3,  офис 420, м. Чкаловская</p>
								<strong class="b-vacancies__text-bold">Время работы:</strong>
								<p>с 10:00 до 19:00</p>
								<strong class="b-vacancies__text-bold">Контактные телефоны:</strong>
								<p>8 (495) 787-47-60;  8 (495) 363-44-32</p>
								<strong class="b-vacancies__text-bold">Электронная почта:</strong>
								<a href="mailto:company@metrotile.ru" class="blue_link">company@metrotile.ru</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<div class="b-links">
	<div class="b-links__wrapper container">
			<div class="row">
				<div class="col-12">
					<div class="d-flex">
						<div class="b-links__block no_icon" style="background-image: url(/img/links_block.png);">
							<a class="b-links__link" href="#"></a>
							<span class="b-links__title">где купить</span>
						</div>
						<div class="b-links__block icon icon1">
							<a class="b-links__link" href="#"></a>
							<span class="b-links__title">расчет<br>кровли</span>
						</div>
						<div class="b-links__block no_icon" style="background-image: url(img/links_block2.png);">
							<a class="b-links__link" href="#"></a>
							МОнтаж
						</div>
						<div class="b-links__block icon icon2">
							<a class="b-links__link" href="#"></a>
							<span class="b-links__title">видео</span>
						</div>
						<div class="b-links__block no_icon" style="background-image: url(img/links_block3.png);">
							<a class="b-links__link" href="#"></a>
							Инструкции<br> по монтажу
						</div>
					</div>				
				</div>
			</div>
	</div>		
</div>		
	</section>