	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
  				<li><a href="#">Главная</a></li>
  				<li>Каталог</li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text">Композитная черепица</h1>
		</div>
	</div>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<div class="b-collections">
						<div class="b-collections__navigation">
							<div class="b-collections__navigation-head">Коллекции</div>
							<div class="b-collections__navigation-container">
								<a href="#" class="b-collections__navigation-link active">MetroBond</a>
								<a href="#" class="b-collections__navigation-link">MetroRoman</a>
								<a href="#" class="b-collections__navigation-link">Metrotile Mistral</a>
								<a href="#" class="b-collections__navigation-link">MetroShake II</a>
								<a href="#" class="b-collections__navigation-link">MetroClassic</a>
								<a href="#" class="b-collections__navigation-link">Metrotile Gallo</a>
								<a href="#" class="b-collections__navigation-link">Metrotile Romana</a>
								<a href="#" class="b-collections__navigation-link">MetroViksen</a>
								<a href="#" class="b-collections__navigation-link">MetroCooper</a>
								<a href="#" class="b-collections__navigation-link">Aquapan</a>
								<a href="#" class="b-collections__navigation-new gradient">Новинки</a>
								<a href="#" class="b-collections__navigation-link">Metrotile IPanel</a>
								<a href="#" class="b-collections__navigation-link">Metrotile ISlate</a>
								<a href="#" class="b-collections__navigation-link">Metrotile IShake</a>
								<a href="#" class="b-collections__navigation-link">Metrotile IShingle</a>
							</div>
						</div>
						<div class="b-collections__navigation">
							<div class="b-collections__navigation-head">Коллекции</div>
							<div class="b-collections__navigation-container">
								<a class="b-collections__navigation-link">MetroBond</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-10">
					<form action="" class="b-filter gradient_bg">
						<div class="row">
							<div class="col-md-3 b-select">
								<div class="b-select__wrap">
									<label class="b-select__title" for="">Элемент:</label>
									<select class="b-select__container w100" name="" id="">
										<option value="">Композитная черепица</option>
										<option value="">Композитная черепица</option>
										<option value="">Композитная черепица</option>
									</select>
								</div>
							</div>
							<div class="col-md-3 b-select"></div>
							<div class="col-md-3 b-select">
								<div class="b-select__wrap">
									<label class="b-select__title" for="">Коллекции:</label>
									<select class="b-select__container w100" name="" id="">
										<option value="">все</option>
										<option value="">все</option>
										<option value="">все</option>
									</select>
								</div>
							</div>
							<div class="col-md-3 b-select">
								<div class="b-select__wrap">
									<label class="b-select__title" for="">Цвет кровли:</label>
									<select class="b-select__container w100" name="" id="">
										<option value="">все</option>
										<option value="">все</option>
										<option value="">все</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<button class="button buy accept">применить</button>
								<a class="b-filter__clear" href="">сбросить</a>
							</div>
						</div>
					</form>
					<div class="row">	
						<div class="col-4 d-flex">	
						<div class="b-filter__sort">
							<span class="b-filter__sort-title">Сортировать по</span>
							<a class="b-filter__sort-link active"  href="#">цене</a>
							<a class="b-filter__sort-link" href="#">названию</a>
						</div>
						</div>
						<div class="col-8 d-flex justify-content-end">
						<div class="b-filter__number">
							<span class="b-filter__number-title">Выводить по</span>
							<a class="b-filter__number-link active" href="#">10</a>
							<a class="b-filter__number-link" href="#">25</a>
							<a class="b-filter__number-link" href="#">50</a>
						</div>
					</div>
					</div>
					<div class="b-shop">
						<div class="row">
							<div class="col-md-4">
								<div class="b-shop__item">
									<div class="b-shop__img">
										<img class="b-shop__img-item" src="img/shop/shop_item.png" alt="shop_item">
											<div class="b-shop__popup">
												<div class="b-shop__popup-options">
													<div class="b-shop__popup-row clearfix">
														<span class="b-shop__popup-cell head">Длина:</span>
														<span class="b-shop__popup-cell head">Ширина:</span>
														<span class="b-shop__popup-cell head">Высота волны:</span>
														<span class="b-shop__popup-cell">1330 мм</span>
														<span class="b-shop__popup-cell">410 мм</span>
														<span class="b-shop__popup-cell">37 мм</span>
													</div>
													<div class="b-shop__popup-row clearfix">
														<span class="b-shop__popup-cell head">Площадь:</span>
														<span class="b-shop__popup-cell head">Вес шт:</span>
														<span class="b-shop__popup-cell head">Вес м2:</span>
														<span class="b-shop__popup-cell">0.55 м²</span>
														<span class="b-shop__popup-cell">2.95 кг</span>
														<span class="b-shop__popup-cell">6.3 кг</span>
													</div>
													<div class="b-shop__popup-row clearfix">
														<span class="b-shop__popup-cell head">Расход:</span>
														<span class="b-shop__popup-cell"></span>
														<span class="b-shop__popup-cell">Стальная основа</span>
														<span class="b-shop__popup-cell">2.17 шт/м²</span>
														<span class="b-shop__popup-cell"></span>
														<span class="b-shop__popup-cell"></span>
													</div>
												</div>
												<button type="submit" class="button">Быстрый просмотр</button>
											</div>
									</div>
									<div class="b-shop__desc">
										<div class="b-shop__icons">
											<a class="b-shop__icons-icon" href="#"><i class="far fa-heart"></i></a>
											<a class="b-shop__icons-icon" href="#"><i class="fas fa-balance-scale"></i></a>
										</div>
										<a href="#" class="b-shop__link">Композитная черепица MetroBond зеленый</a>
										<div class="b-shop__price">
											586 &#8381;
										</div>
										<form class="b-shop__form" action="">
											<div class="b-shop__quantity clearfix">
												<div class="b-shop__quantity-minus">-</div>
												<input class="b-shop__quantity-input" type="text" value="1111">
												<div class="b-shop__quantity-plus">+</div>
											</div>
											<button class="button buy" type="submit">Купить</button>
										</form>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="b-shop__item">
									<div class="b-shop__img">
										<img class="b-shop__img-item" src="img/shop/shop_item.png" alt="shop_item">
											<div class="b-shop__popup">
												<div class="b-shop__popup-options">
													<div class="b-shop__popup-row clearfix">
														<span class="b-shop__popup-cell head">Длина:</span>
														<span class="b-shop__popup-cell head">Ширина:</span>
														<span class="b-shop__popup-cell head">Высота волны:</span>
														<span class="b-shop__popup-cell">1330 мм</span>
														<span class="b-shop__popup-cell">410 мм</span>
														<span class="b-shop__popup-cell">37 мм</span>
													</div>
													<div class="b-shop__popup-row clearfix">
														<span class="b-shop__popup-cell head">Площадь:</span>
														<span class="b-shop__popup-cell head">Вес шт:</span>
														<span class="b-shop__popup-cell head">Вес м2:</span>
														<span class="b-shop__popup-cell">0.55 м²</span>
														<span class="b-shop__popup-cell">2.95 кг</span>
														<span class="b-shop__popup-cell">6.3 кг</span>
													</div>
													<div class="b-shop__popup-row clearfix">
														<span class="b-shop__popup-cell head">Расход:</span>
														<span class="b-shop__popup-cell"></span>
														<span class="b-shop__popup-cell">Стальная основа</span>
														<span class="b-shop__popup-cell">2.17 шт/м²</span>
														<span class="b-shop__popup-cell"></span>
														<span class="b-shop__popup-cell"></span>
													</div>
												</div>
												<button type="submit" class="button">Быстрый просмотр</button>
											</div>
									</div>
									<div class="b-shop__desc">
										<div class="b-shop__icons">
											<a class="b-shop__icons-icon" href="#"><i class="far fa-heart"></i></a>
											<a class="b-shop__icons-icon" href="#"><i class="fas fa-balance-scale"></i></a>
										</div>
										<a href="#" class="b-shop__link">Композитная черепица MetroBond зеленый</a>
										<div class="b-shop__price">
											586 &#8381;
										</div>
										<form class="b-shop__form" action="">
											<div class="b-shop__quantity clearfix">
												<div class="b-shop__quantity-minus">-</div>
												<input class="b-shop__quantity-input" type="text" value="1111">
												<div class="b-shop__quantity-plus">+</div>
											</div>
											<button class="button buy" type="submit">Купить</button>
										</form>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="b-shop__item">
									<div class="b-shop__img">
										<img class="b-shop__img-item" src="img/shop/shop_item.png" alt="shop_item">
											<div class="b-shop__popup">
												<div class="b-shop__popup-options">
													<div class="b-shop__popup-row clearfix">
														<span class="b-shop__popup-cell head">Длина:</span>
														<span class="b-shop__popup-cell head">Ширина:</span>
														<span class="b-shop__popup-cell head">Высота волны:</span>
														<span class="b-shop__popup-cell">1330 мм</span>
														<span class="b-shop__popup-cell">410 мм</span>
														<span class="b-shop__popup-cell">37 мм</span>
													</div>
													<div class="b-shop__popup-row clearfix">
														<span class="b-shop__popup-cell head">Площадь:</span>
														<span class="b-shop__popup-cell head">Вес шт:</span>
														<span class="b-shop__popup-cell head">Вес м2:</span>
														<span class="b-shop__popup-cell">0.55 м²</span>
														<span class="b-shop__popup-cell">2.95 кг</span>
														<span class="b-shop__popup-cell">6.3 кг</span>
													</div>
													<div class="b-shop__popup-row clearfix">
														<span class="b-shop__popup-cell head">Расход:</span>
														<span class="b-shop__popup-cell"></span>
														<span class="b-shop__popup-cell">Стальная основа</span>
														<span class="b-shop__popup-cell">2.17 шт/м²</span>
														<span class="b-shop__popup-cell"></span>
														<span class="b-shop__popup-cell"></span>
													</div>
												</div>
												<button type="submit" class="button">Быстрый просмотр</button>
											</div>
									</div>
									<div class="b-shop__desc">
										<div class="b-shop__icons">
											<a class="b-shop__icons-icon" href="#"><i class="far fa-heart"></i></a>
											<a class="b-shop__icons-icon" href="#"><i class="fas fa-balance-scale"></i></a>
										</div>
										<a href="#" class="b-shop__link">Композитная черепица MetroBond зеленый</a>
										<div class="b-shop__price">
											586 &#8381;
										</div>
										<form class="b-shop__form" action="">
											<div class="b-shop__quantity clearfix">
												<div class="b-shop__quantity-minus">-</div>
												<input class="b-shop__quantity-input" type="text" value="1111">
												<div class="b-shop__quantity-plus">+</div>
											</div>
											<button class="button buy" type="submit">Купить</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-10">
		<div class="b-navigation">
			<a href="#" class="b-navigation__prev"></a>
			<a class="b-navigation__link current" href="#">1</a>
			<a class="b-navigation__link" href="#">2</a>
			<a class="b-navigation__link" href="#">3</a>
			<a class="b-navigation__link" href="#">4</a>
			<a class="b-navigation__link" href="#">5</a>
			<a href="#" class="b-navigation__next"></a>
		</div>
		</div>
		</div>
		<div class="row b-links">
			<div class="col-12">
				<div class="d-flex">
					<div class="b-links__block no_icon" style="background-image: url(/img/links_block.png);">
						<a class="b-links__link" href="#"></a>
						<span class="b-links__title">где купить</span>
					</div>
					<div class="b-links__block icon icon1">
						<a class="b-links__link" href="#"></a>
						<span class="b-links__title">расчет<br>кровли</span>
					</div>
					<div class="b-links__block no_icon" style="background-image: url(img/links_block2.png);">
						<a class="b-links__link" href="#"></a>
						МОнтаж
					</div>
					<div class="b-links__block icon icon2">
						<a class="b-links__link" href="#"></a>
						<span class="b-links__title">видео</span>
					</div>
					<div class="b-links__block no_icon" style="background-image: url(img/links_block3.png);">
						<a class="b-links__link" href="#"></a>
						Инструкции<br> по монтажу
					</div>
				</div>
				<div class="d-flex">
					<div class="b-links__block icon icon3">
						<a class="b-links__link" href="#"></a>
						<span class="b-links__title">Акции</span>
					</div>
					<div class="b-links__block no_icon" style="background-image: url(img/links_block4.png);">
						<a class="b-links__link" href="#"></a>
						Преимущества
					</div>
					<div class="b-links__block icon icon4">
						<a class="b-links__link" href="#"></a>
						<span class="b-links__title">Фото-<br>галерея</span>
					</div>
					<div class="b-links__block no_icon" style="background-image: url(img/links_block5.png);">
						<a class="b-links__link" href="#"></a>
						Это интересно
					</div>
					<div class="b-links__block icon icon5">
						<a class="b-links__link" href="#"></a>
						<span class="b-links__title">Новости</span>
					</div>
				</div>
				<div class="d-flex">
					<div class="b-links__block no_icon" style="background-image: url(img/links_block6.png);">
						<a class="b-links__link" href="#"></a>
						мы в соцсетях
					</div>
					<div class="b-links__block icon icon6">
						<a class="b-links__link" href="#"></a>
						<span class="b-links__title">Производство</span>
					</div>
					<div class="b-links__block no_icon" style="background-image: url(img/links_block7.png);">
						<a class="b-links__link" href="#"></a>
						Архитекторам
					</div>
					<div class="b-links__block icon icon7">
						<a class="b-links__link" href="#"></a>
						<span class="b-links__title">Технология</span>
					</div>
					<div class="b-links__block no_icon" style="background-image: url(img/links_block8.png);">
						<a class="b-links__link" href="#"></a>
						История
					</div>
				</div>
				
			</div>
		</div>
			<div class="row b-seo margin_top100">
				<div class="col-md-4 b-seo__image" style="background: url(img/shop_seo.png) no-repeat center;">
					<div class="b-seo__container"></div>
				</div>
				<div class="col-md-7 offset-md-1">
					<div class="b-seo__title gradient text">Особенности композитной кровли Metrotile</div>
					<div class="b-seo__block">
					<p>Одной из важнейших особенностей Metrotile является особая секретная формула акрилового клея, запатентованная бельгийским концерном «Metrotile Europe NV», с помощью которого базальтовая крошка остается без повреждений в течение многолетнего срока службы композитной черепицы. Данная формула позволяет сделать кровлю наивысшего качества, со сроком службы более полувека.  </p>
					<p>Еще одной особенностью композитного материала является простота монтажа.  Благодаря незначительному весу (6 кг/ м²) , кровле Metrotile не требуется усиленная стропильная конструкция. Площадь листа составляет 0,5 м², что способствует с одной стороны быстрому монтажу, а с другой стороны наименьшему количеству обрезков. 
Компания Metrotile располагает подробным курсом видео инструкций, в которых наглядно продемонстрированы способы монтажа всех самых популярных узлов и соединений.  </p>
					<p>Одной из важнейших особенностей Metrotile является особая секретная формула акрилового клея, запатентованная бельгийским концерном «Metrotile Europe NV», с помощью которого базальтовая крошка остается без повреждений в течение многолетнего срока службы композитной черепицы. Данная формула позволяет сделать кровлю наивысшего качества, со сроком службы более полувека.  </p>
					<p>Еще одной особенностью композитного материала является простота монтажа.  Благодаря незначительному весу (6 кг/ м²) , кровле Metrotile не требуется усиленная стропильная конструкция. Площадь листа составляет 0,5 м², что способствует с одной стороны быстрому монтажу, а с другой стороны наименьшему количеству обрезков. 
Компания Metrotile располагает подробным курсом видео инструкций, в которых наглядно продемонстрированы способы монтажа всех самых популярных узлов и соединений. </p>
<p>Вы можете выбрать любое цветовое решение и купить композитную металлочерепицу, оставив заявку на нашем сайте. </p>
					</div>			
				</div>
			</div>
	</section>
