
	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
				  <li><a href="#">Главная</a></li>
				  <li><a href="#">Каталог</a></li>
				  <li>Доборные элементы</li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text">Доборные элементы</h1>
		</div>
					<div class="row justify-content-center">
						<a href="#" class="b-catalog__mainlink">Посмотрите основные виды доборных элементов на схеме</a>
					</div>
	</div>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<div class="b-collections">
						<div class="b-collections__navigation">
							<div class="b-collections__navigation-head">Коллекции</div>
							<div class="b-collections__navigation-container">
								<a href="#" class="b-collections__navigation-link active">MetroBond</a>
								<a href="#" class="b-collections__navigation-link">MetroRoman</a>
								<a href="#" class="b-collections__navigation-link">Metrotile Mistral</a>
								<a href="#" class="b-collections__navigation-link">MetroShake II</a>
								<a href="#" class="b-collections__navigation-link">MetroClassic</a>
								<a href="#" class="b-collections__navigation-link">Metrotile Gallo</a>
								<a href="#" class="b-collections__navigation-link">Metrotile Romana</a>
								<a href="#" class="b-collections__navigation-link">MetroViksen</a>
								<a href="#" class="b-collections__navigation-link">MetroCooper</a>
								<a href="#" class="b-collections__navigation-link">Aquapan</a>
								<a href="#" class="b-collections__navigation-new gradient">Новинки</a>
								<a href="#" class="b-collections__navigation-link">Metrotile IPanel</a>
								<a href="#" class="b-collections__navigation-link">Metrotile ISlate</a>
								<a href="#" class="b-collections__navigation-link">Metrotile IShake</a>
								<a href="#" class="b-collections__navigation-link">Metrotile IShingle</a>
							</div>
						</div>
						<div class="b-collections__navigation">
							<div class="b-collections__navigation-head">Коллекции</div>
							<div class="b-collections__navigation-container">
								<a class="b-collections__navigation-link">MetroBond</a>
							</div>
						</div>
					</div>
				</div>
				<div class="b-catalog col-md-10">
					<div class="row b-catalog__addition align-items-center">
						<div class="col-md-4">
							<div class="b-catalog__addition-container">
								<img class="b-catalog__addition-img" src="img/catalod_add_item.png" alt=""/>
							</div>
						</div>
						<div class="col-md-8">
							<div class="b-catalog__addition-info">
								<a class="b-catalog__addition-link gradient text" href="#" class="">Конек полукруглый</a>
								<div>— защитит крышу от влаги и физических воздействий и обеспечит вентиляцию и выход воздуха из-под кровельного пространства.</div>
								<div class="b-catalog__addition-price">
									Цена от 586 ₽
								</div>
								<button class="button buy">купить</button>
							</div>
						</div>
					</div>
					<div class="row b-catalog__addition align-items-center">
						<div class="col-md-8">
							<div class="b-catalog__addition-info">
								<a href="#" class="b-catalog__addition-link gradient text" >Конек полукруглый тройной</a>
								<div>— защитит крышу от влаги и физических воздействий и обеспечит вентиляцию и выход воздуха из-под кровельного пространства.</div>
								<div class="b-catalog__addition-price">
									Цена от 586 ₽
								</div>
								<button class="button buy">купить</button>
							</div>
						</div>
						<div class="col-md-4">
							<div class="b-catalog__addition-container">
								<img class="b-catalog__addition-img" src="img/catalod_add_item2.png" alt=""/>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="row gutter_top">
				<div class="col-12">
					<div class="b-midbanner">
						<div class="b-midbanner__title row justify-content-center">Кровля метротайл — правильный выбор!</div>
							<div class="row justify-content-center"><a href="#" class="b-midbanner__button button gradient">Получить консультацию</a></div>

					</div>
				</div>
		</div>
			<div class="row align-items-center margin_top100">
				<div class="col-md-7">
					<div class="b-seo__title gradient text">«Пятый фасад» вашего дома</div>
					<div class="b-seo__block">
					<p>Кровля — один из важнейших компонентов при проектировании жилого ансамбля — это, так называемый, «пятый фасад» Вашего дома. От того насколько он логично впишется в общую картину, зависит общая гармоничность постройки. Но не разумно определяться с выбором кровли только лишь по внешним достоинствам и стоимости. Тем более в российских условиях к качеству необходимо подходить с высокими запросами. </p>
					<p>Опираясь на наш многолетний опыт работы, в большей степени данным требованиям соответствует композитная кровля, цена которой является достаточно низкой по сравнению с остальными покрытиями. Лидером на российском рынке является бельгийская черепица Metrotile. </p>
					<p>Бельгийский концерн «Metrotile Europe NV» создал уникальный материал, который внешне имитирует натуральную черепицу, но в тоже время имеет такой же срок службы, высочайшее качество и доступную стоимость композитной кровли. &nbsp; Композитная металлочерепица также отвечает всем стандартам качества и является одним из самых распространенных типов покрытия. </p>
					<p>Композитная кровля Metrotile идеально подходит для обустройства крыш загородных коттеджей, роскошных вилл и дачных домов, а элегантная фактура металлочерепицы Metrotile нередко используется при реставрации исторических зданий. Узнать цены на композитную металлочерепицу вы можете онлайн на нашем сайте или же по телефону +7 495 363 44 32.</p>
					</div>
				</div>
				<div class="offset-md-1 col-md-4 b-seo__image" style="background: url(img/seo_text_pic.png) no-repeat;">
					<div class="b-seo__container"></div>
				</div>
			</div>

			<div class="row align-items-center margin_top100">
				<div class="col-md-4 b-seo__image" style="background: url(img/seo_text_pic2.png) no-repeat;">
					<div class="b-seo__container"></div>
				</div>
				<div class="offset-md-1 col-md-7">
					<div class="b-seo__title gradient text">«Пятый фасад» вашего дома</div>
					<div class="b-seo__block">
					<p>Кровля — один из важнейших компонентов при проектировании жилого ансамбля — это, так называемый, «пятый фасад» Вашего дома. От того насколько он логично впишется в общую картину, зависит общая гармоничность постройки. Но не разумно определяться с выбором кровли только лишь по внешним достоинствам и стоимости. Тем более в российских условиях к качеству необходимо подходить с высокими запросами. </p>
					<p>Опираясь на наш многолетний опыт работы, в большей степени данным требованиям соответствует композитная кровля, цена которой является достаточно низкой по сравнению с остальными покрытиями. Лидером на российском рынке является бельгийская черепица Metrotile. </p>
					<p>Бельгийский концерн «Metrotile Europe NV» создал уникальный материал, который внешне имитирует натуральную черепицу, но в тоже время имеет такой же срок службы, высочайшее качество и доступную стоимость композитной кровли. &nbsp; Композитная металлочерепица также отвечает всем стандартам качества и является одним из самых распространенных типов покрытия. </p>
					<p>Композитная кровля Metrotile идеально подходит для обустройства крыш загородных коттеджей, роскошных вилл и дачных домов, а элегантная фактура металлочерепицы Metrotile нередко используется при реставрации исторических зданий. Узнать цены на композитную металлочерепицу вы можете онлайн на нашем сайте или же по телефону +7 495 363 44 32.</p>
					</div>
				</div>
			</div>			
	</section>