
	<section>
	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
  				<li><a href="#">Главная</a></li>
  				<li>Контакты</li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text">Контакты</h1>
		</div>
	</div>
	<div class="container b-contacts">
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Представительство компании Metrotile в России</div>
				<div class="b-contacts__container">
					<div class="row">	
							<div class="col-md-6">
								<div class="b-contacts__address d-flex align-items-center">
									<span class="b-contacts__address-text">105120, Россия, Москва, Костомаровский переулок, дом 3, 
									<br>офис 420</span>
								</div>
								<div class="b-contacts__address clock d-flex align-items-center">
									<span class="b-contacts__address-text">с 10:00 до 19:00</span>
								</div>
								<div class="b-contacts__address subway d-flex align-items-center">
									<span class="b-contacts__address-text">Курская, Чкаловская</span>
								</div>
								<div class="b-contacts__address phone d-flex align-items-center">
									<span class="b-contacts__address-text">8 (495) 787-47-60;  8 (495) 363-44-32</span>
								</div>
								<div class="b-contacts__address mail d-flex align-items-center">
									<a class="b-contacts__link blue_link" href="mailto:company@metrotile.ru">company@metrotile.ru</a>
								</div>
								<div class="b-contacts__container-block">
									<strong class="b-contacts__container-title">Региональный представитель по Северо-Западному<br> Федеральному Округу:</strong>
									<div>Платонов Илья Александрович</div>
									<div class="margin_bot_gut">8 (921) 845-76-57 <a class="b-contacts__link blue_link" href="mailto:spb@metrotile.ru">spb@metrotile.ru</a></div>

								</div>
								<div class="b-contacts__container-block">
									<strong class="b-contacts__container-title">Региональный представитель по Южному<br> Федеральному Округу:</strong>
									<div>Лодыгин Александр Васильевич</div>
									<div class="margin_bot_gut">8 (928) 239-01-07 <a class="b-contacts__link blue_link" href="mailto:ug@metrotile.ru">ug@metrotile.ru</a></div>

								</div>
								<div class="b-contacts__container-block">
									<strong class="b-contacts__container-title">Региональный представитель по Сибирскому<br> Федеральному Округу:</strong>
									<div>Мизин Андрей Вячеславович</div>
									<div class="margin_bot_gut">8 (923) 111-24-40 <a class="b-contacts__link blue_link" href="mailto:mizin@metrotile.ru">mizin@metrotile.ru</a></div>

								</div>


							</div>
							<div class="col-md-6">
								<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab2f14a7af015bb3182fb537a387402a9a47b47a696c3fee80c9d3765495891d6&amp;source=constructor" width="570" height="400" frameborder="0"></iframe>
								<a href="#" class="b-contacts__link blue_link">Панорама яндекс</a>
								<div class="b-contacts__container-block">
									<div class="b-contacts__container-title margin_bot_gut">Как проехать</div>
									<strong class="b-contacts__container-title">Общественный транспорт</strong>
									<p class="b-contacts__container-text">Кровля — один из важнейших компонентов при проектировании жилого ансамбля — это, так называемый, «пятый фасад» Вашего дома. От того насколько он логично впишется в общую картину, зависит общая гармоничность постройки. Но не разумно определяться с выбором кровли только лишь по внешним достоинствам и стоимости. Тем более в российских условиях к качеству необходимо подходить с высокими запросами. </p>
									<strong class="b-contacts__container-title">Личный транспорт</strong>
									<p class="b-contacts__container-text">Кровля — один из важнейших компонентов при проектировании жилого ансамбля — это, так называемый, «пятый фасад» Вашего дома. От того насколько он логично впишется в общую картину, зависит общая гармоничность постройки.</p>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Склад компании Metrotile в Москве</div>
				<div class="b-contacts__container">
					<div class="row">	
							<div class="col-md-6"></div>
							<div class="col-md-6"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Склад компании Metrotile в Санкт-петербурге</div>
				<div class="b-contacts__container">
					<div class="row">	
							<div class="col-md-6"></div>
							<div class="col-md-6"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Склад компании Metrotile в Краснодаре</div>
				<div class="contacts_tab_block">
					<div class="row">	
							<div class="col-md-6"></div>
							<div class="col-md-6"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Склад компании Metrotile в Новосибирске</div>
				<div class="contacts_tab_block">
					<div class="row">	
							<div class="col-md-6"></div>
							<div class="col-md-6"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
			<div class="b-contacts__info margin_top100">
				<h2 class="b-contacts__info-title gradient text no_border">Реквизиты</h2><button class="button buy">Скопировать</button>				
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<strong class="b-contacts__container-title">ООО «Европейские кровельные технологии»</strong>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="b-contacts__info-head">Юр. адрес:</div>
				<p class="b-contacts__info-text">119180, г. Москва, ул. Большая Полянка, д. 7/10, стр. 3, пом. IX, ком. 20</p>
			</div>
			<div class="offset-md-1 col-md-2">
				<div class="b-contacts__info-head">ИНН/ КПП</div>
				<p class="b-contacts__info-text">7706766618/ 770601001</p>
			</div>
			<div class="offset-md-1 col-md-2">
				<div class="b-contacts__info-head">ОГРН</div>
				<p class="b-contacts__info-text">5117746000631</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="b-contacts__info-head">Р/счет № </div>
				<p class="b-contacts__info-text">40702810638120014028</p>
			</div>
			<div class="offset-md-1 col-md-2">
				<div class="b-contacts__info-head">Банк</div>
				<p class="b-contacts__info-text">ПАО СБЕРБАНК Г. МОСКВА</p>
			</div>
			<div class="offset-md-1 col-md-2">
				<div class="b-contacts__info-head">Кор. счет</div>
				<p class="b-contacts__info-text">30101810400000000225</p>
			</div>
			<div class="offset-md-1 col-md-2">
				<div class="b-contacts__info-head">БИК</div>
				<p class="b-contacts__info-text">30101810400000000225</p>
			</div>
		</div>
	</div>
	</section>