
	<section class="contacts">
	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
  				<li><a href="#">Главная</a></li>
  				<li>Вопрос-ответ</li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text">Вопрос-ответ</h1>
		</div>
	</div>
	<div class="container b-contacts b-faq margin_bot100">
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Нужна ли гидроизоляция и каким образом обеспечивается вентиляция подкровельного пространства?</div>
				<div class="b-contacts__container">
					<div class="b-faq__answer">
						Да, для кровли Metrotile, как и для любого другого вида черепицы, необходима гидроизоляция, особенно в случае, если это не холодный чердак, а отапливаемая мансарда и т. п. Вентиляция является обязательным условием нормальной работы утепленной кровли! Кровельные вентиляторы Metrotile имеют приятный дизайн и прекрасно гармонируют с кровельным покрытием. Они изготавливаются из ПВХ, стойкого к воздействию ультрафиолета и имеют цвета, соответствующие цветовой палитре изделий Metrotile. Для достижения рекомендуемой величины воздушного потока кровельные вентиляторы должны устанавливаться около конька по одному на каждые 50-70 кв. м. поверхности кровли. 
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Как получаются двухцветные коллекции?</div>
				<div class="b-contacts__container">
					<div class="b-faq__answer">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Как сходит снег и как кровля ведет себя при минусовых температурах?</div>
				<div class="b-contacts__container">
					<div class="b-faq__answer">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Для чего используется ремонтный комплект?</div>
				<div class="b-contacts__container">
					<div class="b-faq__answer">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Шумит ли при дожде кровля Metrotile? Выцветает ли черепица Metrotile на солнце?</div>
				<div class="b-contacts__container">
					<div class="b-faq__answer">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Есть ли особенности монтажа, как кровля Metrotile противостоит ветру?</div>
				<div class="b-contacts__container">
					<div class="b-faq__answer">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Как рассчитать количество материала, комплектующих и сумму затрат?</div>
				<div class="b-contacts__container">
					<div class="b-faq__answer">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Не задерживается ли грязь, как скоро может осыпаться каменная крошка?</div>
				<div class="b-contacts__container">
					<div class="b-faq__answer">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Нужна ли под кровлю Metrotile сплошная обрешетка, как в случае с мягкой черепицей или усиленная стропильная часть и чем крепится Metrotile?</div>
				<div class="b-contacts__container">
					<div class="b-faq__answer">
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>