
	<section class="b-forbuilders">
	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
  				<li><a href="#">Главная</a></li>
  				<li>Вопрос-ответ</li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text">СТРОИТЕЛЯМ</h1>
		</div>
	</div>
	<div class="b-forbuilders__wrapper container-flued">
		<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-md-7">
							<h2 class="b-forbuilders__title gradient text no_border">Официальный учебный курс по монтажу черепицы «Metrotile»</h2>
						</div>
						<div class="offset-md-3 col-md-2 text-right fz12">
							Вы можете посмотреть видеоинструкции прямо сейчас или скачать их в формате mp4 на свой компьютер.
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="b-forbuilders__container">
								<div class="b-forbuilders__video" style="background: url(img/for_builders_block_video.png) no-repeat; background-size: cover;"></div>
								<a href="#" class="b-forbuilders__link blue_link no_border">Монтаж панелей MetroBond</a>
								<a href="#" class="b-forbuilders__link-download">скачать</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="b-forbuilders__container">
								<div class="b-forbuilders__video" style="background: url(img/for_builders_block_video.png) no-repeat; background-size: cover;"></div>
								<a href="#" class="b-forbuilders__link blue_link no_border">Монтаж карнизной планки и шаговой обрешетки черепицы MetroTile</a>
								<a href="#" class="b-forbuilders__link-download">скачать</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="b-forbuilders__container">
								<div class="b-forbuilders__video" style="background: url(img/for_builders_block_video.png) no-repeat; background-size: cover;"></div>
								<a href="#" class="b-forbuilders__link blue_link no_border">Монтаж торцевой планки черепицы MetroTile. Как отличить левую и правую торцевую планку?</a>
								<a href="#" class="b-forbuilders__link-download">скачать</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="b-forbuilders__container">
								<div class="b-forbuilders__video" style="background: url(img/for_builders_block_video.png) no-repeat; background-size: cover;"></div>
								<a href="#" class="b-forbuilders__link blue_link no_border">Монтаж панелей MetroBond</a>
								<a href="#" class="b-forbuilders__link-download">скачать</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="b-forbuilders__container">
								<div class="b-forbuilders__video" style="background: url(img/for_builders_block_video.png) no-repeat; background-size: cover;"></div>
								<a href="#" class="b-forbuilders__link blue_link no_border">Монтаж карнизной планки и шаговой обрешетки черепицы MetroTile</a>
								<a href="#" class="b-forbuilders__link-download">скачать</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="b-forbuilders__container">
								<div class="b-forbuilders__video" style="background: url(img/for_builders_block_video.png) no-repeat; background-size: cover;"></div>
								<a href="#" class="b-forbuilders__link blue_link no_border">Монтаж торцевой планки черепицы MetroTile. Как отличить левую и правую торцевую планку?</a>
								<a href="#" class="b-forbuilders__link-download">скачать</a>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="b-forbuilders__wrapper container-flued">
		<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-md-7">
							<h2 class="gradient text no_border">Официальный учебный курс по монтажу черепицы «Metrotile»</h2>
						</div>
						<div class="offset-md-3 col-md-2 text-right fz12">
							Вы можете посмотреть видеоинструкции прямо сейчас или скачать их в формате mp4 на свой компьютер.
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="b-forbuilders__container">
								<div class="b-forbuilders__video" style="background: url(img/for_builders_block_video.png) no-repeat; background-size: cover;"></div>
								<a href="#" class="b-forbuilders__link blue_link no_border">Монтаж панелей MetroBond</a>
								<a href="#" class="b-forbuilders__link-download">скачать</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="b-forbuilders__container">
								<div class="b-forbuilders__video" style="background: url(img/for_builders_block_video.png) no-repeat; background-size: cover;"></div>
								<a href="#" class="b-forbuilders__link blue_link no_border">Монтаж карнизной планки и шаговой обрешетки черепицы MetroTile</a>
								<a href="#" class="b-forbuilders__link-download">скачать</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="b-forbuilders__container">
								<div class="b-forbuilders__video" style="background: url(img/for_builders_block_video.png) no-repeat; background-size: cover;"></div>
								<a href="#" class="b-forbuilders__link blue_link no_border">Монтаж торцевой планки черепицы MetroTile. Как отличить левую и правую торцевую планку?</a>
								<a href="#" class="b-forbuilders__link-download">скачать</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="b-forbuilders__container">
								<div class="b-forbuilders__video" style="background: url(img/for_builders_block_video.png) no-repeat; background-size: cover;"></div>
								<a href="#" class="b-forbuilders__link blue_link no_border">Монтаж панелей MetroBond</a>
								<a href="#" class="b-forbuilders__link-download">скачать</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="b-forbuilders__container">
								<div class="b-forbuilders__video" style="background: url(img/for_builders_block_video.png) no-repeat; background-size: cover;"></div>
								<a href="#" class="b-forbuilders__link blue_link no_border">Монтаж карнизной планки и шаговой обрешетки черепицы MetroTile</a>
								<a href="#" class="b-forbuilders__link-download">скачать</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="b-forbuilders__container">
								<div class="b-forbuilders__video" style="background: url(img/for_builders_block_video.png) no-repeat; background-size: cover;"></div>
								<a href="#" class="b-forbuilders__link blue_link no_border">Монтаж торцевой планки черепицы MetroTile. Как отличить левую и правую торцевую планку?</a>
								<a href="#" class="b-forbuilders__link-download">скачать</a>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="b-seo container">
		
			<div class="row margin_top100 align-items-center">
				<div class="col-md-7">
					<div class="b-seo__title gradient text">Сотрудничество со строителями</div>
					<div class="b-seo__block">
					<p>Тесное сотрудничество компании Metrotile со многими строительными организациями позволило накопить богатый опыт монтажа композитной черепицы Metrotile в России.</p>
					<p>Небольшой вес листов Metrotile 2,95 кг и оптимальные размеры 1340 мм х 415 мм, широкий ассортимент доборных элементов существенно упрощают монтаж, делают его технологичным и позволяют монтировать кровли сложных геометрических форм. Вы можете посмотреть видеоинструкции прямо сейчас или скачать их в формате mp4 на свой компьютер.</p>
					<p>Высокое качество материала позволяет, при необходимости, гнуть листы и делать фальц без разрушения верхнего слоя гранулята.</p>
					<p>Для работы со строителями компания Metrotile разработала специальную программу сотрудничества в которая предусматривает:</p>
					<ul>
						<li>накопительную систему скидок;</li>
						<li>бесплатные консультации и семинары по монтажу кровельного материала Metrotile;</li>
						<li>расчет материала Metrotile по размерам и расчетам кровли заказчика и помощь в оформлении заказа;</li>
						<li>предоставление образцов материала и печатной продукции для работы с заказчиком.</li>
					</ul>
					<strong>Приглашаем к сотрудничеству, уверены оно может быть успешным и взаимовыгодным!</strong>
					</div>
				</div>
				<div class="b-seo__image col-md-4 offset-md-1" style="background: url(img/seo_for_builders.png) no-repeat center;">
					<div class="b-seo__container"></div>
				</div>
			</div>
	</div>
	</section>

