
	<section class="b-manualshef">
	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
  				<li><a href="#">Главная</a></li>
  				<li>Шеф-монтаж</li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text text-center">Шеф-монтаж</h1>
		</div>
	</div>
	<div class="container">
		<div class="row margin_bot50">
			<div class="col-12">
				Одним из приоритетных направлений деятельности компании Metrotile является обучение монтажников. Обучение предусматривает проведение семинаров, тренингов и мастер-классов. В процессе обучения мы знакомим Вас с приемами монтажа и инструментом, используемым при укладке черепицы Metrotile.
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-manualshef__container gradient_bg">
					<div class="b-manualshef__title">У Вас есть уникальная возможность, воспользоваться нашим предложением<br> и заказать Шеф монтаж.</div>
					<div class="b-manualshef__text">Выезд осуществляется по предварительной договорённости и с обязательным наличием нашего материала на объекте. Обучение в Москве, в ближнем Подмосковье, в Новосибирске, Санкт-Петербурге, Екатеринбурге и Краснодаре осуществляется бесплатно. Для проведения обучающего семинара в других регионах необходимо оплатить проезд и проживание нашего специалиста.</div>
					<a href="#" class="b-manualshef__button button buy">Заказать шеф-монтаж</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-manualshef__banner" style="background-image: url(/img/manualshef__banner.jpg);">
					<div class="b-manualshef__banner-text">Это выезд на объект нашего технического специалиста,<br> для проведения обучающего семинара на Вашем объекте.</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<a href="#" class="blue_link with_arrow">Вернуться в раздел</a>
			</div>
		</div>
	</div>	
	</section>
