
	<section class="b-manual">
	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
  				<li><a href="#">Главная</a></li>
  				<li>Инструкции по монтажу</li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text text-center">Инструкции по монтажу</h1>
		</div>
	</div>
		<div class="b-topbanner short" style="background-image: url(/img/topbanner_short.jpg);"></div>
		<div class="b-arch container-flued gradient_bg">
			<div class="row">
				<div class="b-arch__tabs d-flex  gradient_bg">
					<a href="#" class="b-arch__tabs-element left active">ИНСТРУКЦИЯ ПО МОНТАЖУ METROTILE</a>
					<a href="#" class="b-arch__tabs-element right inactive">Инструкция по монтажу AQUAPAN</a>
				</div>
			</div>
		</div>
		<div class="gradient_bg padding_bottom_gutter">
			<div class="container">
				<div class="row">
					<div class="col-12">
					<h2 class="gradient text no_border">МОНТАЖ коллекций METROTILE</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
					<a href="#" class="blue_link download">Скачать инструкцию Pdf (15 Mб)</a>
					</div>
				</div>
			</div>
		</div>
		<div class="b-otzyvy container margin_top100 margin_bot100">

				<div class="row">
					<div class="col-12">
					<div class="counter"></div>
					<div id="otzyvy_slider" class="wideslider owl-carousel">
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/manual.jpg" alt="manual" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/manual2.jpg" alt="manual" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/manual3.jpg" alt="manual" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/manual4.jpg" alt="manual" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/manual.jpg" alt="manual" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/manual2.jpg" alt="manual" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/manual3.jpg" alt="manual" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/manual4.jpg" alt="manual" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/manual.jpg" alt="manual" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/manual2.jpg" alt="manual" />
						</a>
						</div>
							
					</div>
					</div>			
		</div>
<div class="b-links gradient_bg">
	<div class="b-links__wrapper container">
			<div class="row">
				<div class="col-12">
					<div class="d-flex">
						<div class="b-links__block no_icon" style="background-image: url(/img/links_block.png);">
							<a class="b-links__link" href="#"></a>
							<span class="b-links__title">где купить</span>
						</div>
						<div class="b-links__block icon icon1">
							<a class="b-links__link" href="#"></a>
							<span class="b-links__title">расчет<br>кровли</span>
						</div>
						<div class="b-links__block no_icon" style="background-image: url(img/links_block2.png);">
							<a class="b-links__link" href="#"></a>
							МОнтаж
						</div>
						<div class="b-links__block icon icon2">
							<a class="b-links__link" href="#"></a>
							<span class="b-links__title">видео</span>
						</div>
						<div class="b-links__block no_icon" style="background-image: url(img/links_block3.png);">
							<a class="b-links__link" href="#"></a>
							Инструкции<br> по монтажу
						</div>
					</div>				
				</div>
			</div>
	</div>		
</div>		
	</section>

