
	<section>
	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
  				<li><a href="#">Главная</a></li>
  				<li>Вопрос-ответ</li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text">МОНТАЖ</h1>
		</div>
	</div>
		<div class="b-news container">
				<div class="row">
					<div class="col-md-4">
						<div class="b-news__item">
							<div class="b-news__img">
								<img class="b-news__img-element" src="img/news1.png" alt="news">
							</div>
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">1 декабря компания Metrotile Europe отметила свое 20-летие. Мероприятие прошло в г. Тонгерен, Бельгия. </div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="b-news__item">
							<div class="b-news__img">
								<img class="b-news__img-element" src="img/news1.png" alt="news">
							</div>
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">1 декабря компания Metrotile Europe отметила свое 20-летие. Мероприятие прошло в г. Тонгерен, Бельгия. </div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="b-news__banner" style="background: url(img/news_banner.png) no-repeat;">
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">Обучающая программа <br>в области композитной<br> черепицы, с целью<br> поддержания высокого уровня<br> знаний продающего штата<br> сотрудников.</div>
							</div>
						</div>
					</div>
					</div>
				<div class="row">
					<div class="col-md-4">
						<div class="b-news__item">
							<div class="b-news__img">
								<img class="b-news__img-element" src="img/news1.png" alt="news">
							</div>
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">1 декабря компания Metrotile Europe отметила свое 20-летие. Мероприятие прошло в г. Тонгерен, Бельгия. </div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="b-news__banner gradient_bg">
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">Обучающая программа <br>в области композитной<br> черепицы, с целью<br> поддержания высокого уровня<br> знаний продающего штата<br> сотрудников.</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="b-news__item">
							<div class="b-news__img">
								<img class="b-news__img-element" src="img/news1.png" alt="news">
							</div>
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">1 декабря компания Metrotile Europe отметила свое 20-летие. Мероприятие прошло в г. Тонгерен, Бельгия. </div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="b-news__item">
							<div class="b-news__img">
								<img class="b-news__img-element" src="img/news1.png" alt="news">
							</div>
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">1 декабря компания Metrotile Europe отметила свое 20-летие. Мероприятие прошло в г. Тонгерен, Бельгия. </div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="b-news__item">
							<div class="b-news__img">
								<img class="b-news__img-element" src="img/news1.png" alt="news">
							</div>
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">1 декабря компания Metrotile Europe отметила свое 20-летие. Мероприятие прошло в г. Тонгерен, Бельгия. </div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="b-news__item">
							<div class="b-news__img">
								<img class="b-news__img-element" src="img/news1.png" alt="news">
							</div>
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">1 декабря компания Metrotile Europe отметила свое 20-летие. Мероприятие прошло в г. Тонгерен, Бельгия. </div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 d-flex justify-content-center margin_top100 margin_bot100">
						<button class="button buy accept">Загрузить Ещё</button>
					</div>
				</div>
			</div>
	</section>

	