
	<section class="b-news">
	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
  				<li><a href="#">Главная</a></li>
  				<li>Летние скидки!</li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text">Летние скидки!</h1>
		</div>
	</div>
		<div class="container">

			<div class="row">
				<div class="col-12">
				<div class="b-topbanner banner3" style="background-image: url(img/banner3.png);">
					<div class="b-topbanner__wrapper container">
						<div class="b-topbanner__container">
							<div class="b-topbanner__title gradient">Летние скидки!</div>
								<div class="b-topbanner__text mount_txt">Самые выгодные предложения по приобретению кровли по акционным ценам
								</div>
							</div>
					</div>
					
				</div>
				</div>
			</div>
		</div>

	<div class="b-shop">
					<div class="container">
					<div class="row">
					<div class="col-12">
					<h2 class="gradient text no_border">Выгодное предложение</h2>
					<div id="wideslider_counter4" class="counter"></div>
					<div id="wideslider4" class="b-shop__slider owl-carousel">
						<div class="b-shop__item">
							<div class="b-shop__img">
								<img class="b-shop__img-item" src="img/shop/shop_item.png" alt="shop_item">
							</div>
							<div class="b-shop__desc">
								<div class="b-shop__icons">
									<a class="b-shop__icons-icon" href="#"><i class="far fa-heart"></i></a>
									<a class="b-shop__icons-icon" href="#"><i class="fas fa-balance-scale"></i></a>
								</div>
								<a href="#" class="b-shop__link">Композитная черепица MetroBond зеленый</a>
								<div class="b-shop__price">
									586 &#8381;
								</div>
								<form class="b-shop__form" action="">
									<div class="b-shop__quantity clearfix">
										<div class="b-shop__quantity-minus">-</div>
										<input class="b-shop__quantity-input" type="text" value="1111">
										<div class="b-shop__quantity-plus">+</div>
									</div>
									<button class="button buy" type="submit">Купить</button>
								</form>
							</div>
						</div>
						<div class="b-shop__item">
							<div class="b-shop__img">
								<img class="b-shop__img-item" src="img/shop/shop_item.png" alt="shop_item">
							</div>
							<div class="b-shop__desc">
								<div class="b-shop__icons">
									<a class="b-shop__icons-icon" href="#"><i class="far fa-heart"></i></a>
									<a class="b-shop__icons-icon" href="#"><i class="fas fa-balance-scale"></i></a>
								</div>
								<a href="#" class="b-shop__link">Композитная черепица MetroBond зеленый</a>
								<div class="b-shop__price">
									586 &#8381;
								</div>
								<form class="b-shop__form" action="">
									<div class="b-shop__quantity clearfix">
										<div class="b-shop__quantity-minus">-</div>
										<input class="b-shop__quantity-input" type="text" value="1111">
										<div class="b-shop__quantity-plus">+</div>
									</div>
									<button class="button buy" type="submit">Купить</button>
								</form>
							</div>
						</div>
						<div class="b-shop__item">
							<div class="b-shop__img">
								<img class="b-shop__img-item" src="img/shop/shop_item.png" alt="shop_item">
							</div>
							<div class="b-shop__desc">
								<div class="b-shop__icons">
									<a class="b-shop__icons-icon" href="#"><i class="far fa-heart"></i></a>
									<a class="b-shop__icons-icon" href="#"><i class="fas fa-balance-scale"></i></a>
								</div>
								<a href="#" class="b-shop__link">Композитная черепица MetroBond зеленый</a>
								<div class="b-shop__price">
									586 &#8381;
								</div>
								<form class="b-shop__form" action="">
									<div class="b-shop__quantity clearfix">
										<div class="b-shop__quantity-minus">-</div>
										<input class="b-shop__quantity-input" type="text" value="1111">
										<div class="b-shop__quantity-plus">+</div>
									</div>
									<button class="button buy" type="submit">Купить</button>
								</form>
							</div>
						</div>
						<div class="b-shop__item">
							<div class="b-shop__img">
								<img class="b-shop__img-item" src="img/shop/shop_item.png" alt="shop_item">
							</div>
							<div class="b-shop__desc">
								<div class="b-shop__icons">
									<a class="b-shop__icons-icon" href="#"><i class="far fa-heart"></i></a>
									<a class="b-shop__icons-icon" href="#"><i class="fas fa-balance-scale"></i></a>
								</div>
								<a href="#" class="b-shop__link">Композитная черепица MetroBond зеленый</a>
								<div class="b-shop__price">
									586 &#8381;
								</div>
								<form class="b-shop__form" action="">
									<div class="b-shop__quantity clearfix">
										<div class="b-shop__quantity-minus">-</div>
										<input class="b-shop__quantity-input" type="text" value="1111">
										<div class="b-shop__quantity-plus">+</div>
									</div>
									<button class="button buy" type="submit">Купить</button>
								</form>
							</div>
						</div>
						<div class="b-shop__item">
							<div class="b-shop__img">
								<img class="b-shop__img-item" src="img/shop/shop_item.png" alt="shop_item">
							</div>
							<div class="b-shop__desc">
								<div class="b-shop__icons">
									<a class="b-shop__icons-icon" href="#"><i class="far fa-heart"></i></a>
									<a class="b-shop__icons-icon" href="#"><i class="fas fa-balance-scale"></i></a>
								</div>
								<a href="#" class="b-shop__link">Композитная черепица MetroBond зеленый</a>
								<div class="b-shop__price">
									586 &#8381;
								</div>
								<form class="b-shop__form" action="">
									<div class="b-shop__quantity clearfix">
										<div class="b-shop__quantity-minus">-</div>
										<input class="b-shop__quantity-input" type="text" value="1111">
										<div class="b-shop__quantity-plus">+</div>
									</div>
									<button class="button buy" type="submit">Купить</button>
								</form>
							</div>
						</div>
						<div class="b-shop__item">
							<div class="b-shop__img">
								<img class="b-shop__img-item" src="img/shop/shop_item.png" alt="shop_item">
							</div>
							<div class="b-shop__desc">
								<div class="b-shop__icons">
									<a class="b-shop__icons-icon" href="#"><i class="far fa-heart"></i></a>
									<a class="b-shop__icons-icon" href="#"><i class="fas fa-balance-scale"></i></a>
								</div>
								<a href="#" class="b-shop__link">Композитная черепица MetroBond зеленый</a>
								<div class="b-shop__price">
									586 &#8381;
								</div>
								<form class="b-shop__form" action="">
									<div class="b-shop__quantity clearfix">
										<div class="b-shop__quantity-minus">-</div>
										<input class="b-shop__quantity-input" type="text" value="1111">
										<div class="b-shop__quantity-plus">+</div>
									</div>
									<button class="button buy" type="submit">Купить</button>
								</form>
							</div>
						</div>
						<div class="b-shop__item">
							<div class="b-shop__img">
								<img class="b-shop__img-item" src="img/shop/shop_item.png" alt="shop_item">
							</div>
							<div class="b-shop__desc">
								<div class="b-shop__icons">
									<a class="b-shop__icons-icon" href="#"><i class="far fa-heart"></i></a>
									<a class="b-shop__icons-icon" href="#"><i class="fas fa-balance-scale"></i></a>
								</div>
								<a href="#" class="b-shop__link">Композитная черепица MetroBond зеленый</a>
								<div class="b-shop__price">
									586 &#8381;
								</div>
								<form class="b-shop__form" action="">
									<div class="b-shop__quantity clearfix">
										<div class="b-shop__quantity-minus">-</div>
										<input class="b-shop__quantity-input" type="text" value="1111">
										<div class="b-shop__quantity-plus">+</div>
									</div>
									<button class="button buy" type="submit">Купить</button>
								</form>
							</div>
						</div>
						<div class="b-shop__item">
							<div class="b-shop__img">
								<img class="b-shop__img-item" src="img/shop/shop_item.png" alt="shop_item">
							</div>
							<div class="b-shop__desc">
								<div class="b-shop__icons">
									<a class="b-shop__icons-icon" href="#"><i class="far fa-heart"></i></a>
									<a class="b-shop__icons-icon" href="#"><i class="fas fa-balance-scale"></i></a>
								</div>
								<a href="#" class="b-shop__link">Композитная черепица MetroBond зеленый</a>
								<div class="b-shop__price">
									586 &#8381;
								</div>
								<form class="b-shop__form" action="">
									<div class="b-shop__quantity clearfix">
										<div class="b-shop__quantity-minus">-</div>
										<input class="b-shop__quantity-input" type="text" value="1111">
										<div class="b-shop__quantity-plus">+</div>
									</div>
									<button class="button buy" type="submit">Купить</button>
								</form>
							</div>
						</div>
					</div>
					</div>
					</div>
					</div>		
	</div>
	<div class="b-seo container">
		<div class="row">
			<div class="b-seo__block col-md-7">
					<h2 class="gradient text no_border">Спешите приобрести, предложение ограниченно!</h2>
					<p>Сегодня Россия переживает бум частного и коммерческого строительства. Практически в любом крупном городе страны открыт дилерский центр бельгийской компании Metrotile, производящей высококачественную композитную черепицу премиум класса. Москва, Санкт-Петербург, Новосибирск и другие мегаполисы уже по достоинству оценили это кровельное покрытие. Тем более, стоимость материала вполне обоснована его высоким качеством, отличными техническими и эстетическими свойствами.</p>
					<p>Для постоянных клиентов, крупных подрядных организаций, строительных компаний и архитектурных бюро постоянно проводятся акции на композитную черепицу. Кроме этого, в компании действуют сезонные и праздничные скидки и предлагается снижение цен на комплексное обслуживание. Также для наших партнеров доступна бесплатная услуга «Шеф Монтаж» - наш сотрудник выезжает на объект клиента и проводит обучение ваших специалистов правильному монтажу композитной черепицы Metrotile. Уточнить действие и расписание акций на композитную черепицу можно у профильных менеджеров и консультантов.</p>
			</div>
			<div class="b-wheretobuy padding_top100 offset-md-1 col-md-4">
					<h3 class="gradient text">БЛИЖАЙШИе ДИЛЕРы</h3>
					<div class="b-wheretobuy__container">
						<h3 class="b-wheretobuy__title">ГРАНД ЛАЙН</h3>
						<div class="b-wheretobuy__text">ул. Марксистская, д. 10</div>
						<div class="b-wheretobuy__text">Телефон: 8 (967) 144-68-74</div>
						<div class="b-wheretobuy__text-km">3.9 <span>км</span></div>
					</div>
					<div class="b-wheretobuy__container">
						<h3 class="b-wheretobuy__title">АГАТ</h3>
						<div class="b-wheretobuy__text">ул. Брянская, д. 32 стр.9</div>
						<div class="b-wheretobuy__text">Телефон: 8 (495) 633-01-01 (доб. 1216)</div>
						<div class="b-wheretobuy__text-km">4.5 <span>км</span></div>
					</div>
					<div class="b-wheretobuy__container">
						<h3 class="b-wheretobuy__title">АГАТ</h3>
						<div class="b-wheretobuy__text">ул. Хавская, д. 18</div>
						<div class="b-wheretobuy__text">Телефон: 8 (495) 633-01-01 (доб. 1214)</div>
						<div class="b-wheretobuy__text-km">3.9 <span>км</span></div>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<a href="#" class="blue_link with_arrow">Вернуться в раздел</a>
			</div>
		</div>
	</div>
	</section>


