
	<section class="b-news">
	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
  				<li><a href="#">Главная</a></li>
  				<li>Вопрос-ответ</li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text">Акции</h1>
		</div>
	</div>
		<div class="container">

			<div class="row">
				<div class="col-12">
				<div class="b-topbanner banner3" style="background-image: url(img/banner3.png);">
					<div class="b-topbanner__wrapper container">
						<div class="b-topbanner__container">
							<div class="b-topbanner__title gradient">Летние скидки!</div>
								<div class="b-topbanner__text mount_txt">Самые выгодные предложения по приобретению кровли по акционным ценам
								</div>
							</div>
					</div>
					
				</div>
			</div>
			</div>
			<div class="row">
				<div class="col-md-4">
						<div class="b-news__banner margin_top_gut" style="background: url(img/offer_item.png) no-repeat;">
							<div class="b-news__desc">
								<a class="b-news__desc-title">Распродажа склада!</a>
							</div>
						</div>
				</div>
				<div class="col-md-4">
						<div class="b-news__banner gradient_bg margin_top_gut">
							<div class="b-news__desc">
								<a class="b-news__desc-title">Выгодное предложение</a>
								<div class="news_item_txt">Самые выгодные предложения по приобретению кровли <br>по акционным ценам</div>
							</div>
						</div>
				</div>
				<div class="col-md-4">
						<div class="b-news__banner margin_top_gut" style="background: url(img/offer_item2.png) no-repeat;">
							<div class="b-news__desc">
								<a class="b-news__desc-title">ПРЕИМУЩЕСТВА КОМПОЗИТНОЙ ЧЕРЕПИЦЫ METROTILE ПЕРЕД ГИБКОЙ ЧЕРЕПИЦЕЙ</a>
							</div>
						</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
						<div class="b-news__banner margin_top_gut" style="background: url(img/offer_item.png) no-repeat;">
							<div class="b-news__desc">
								<a class="b-news__desc-title">Распродажа склада!</a>
							</div>
						</div>
				</div>
				<div class="col-md-4">
						<div class="b-news__banner gradient_bg margin_top_gut">
							<div class="b-news__desc">
								<a class="b-news__desc-title">Выгодное предложение</a>
								<div class="news_item_txt">Самые выгодные предложения по приобретению кровли <br>по акционным ценам</div>
							</div>
						</div>
				</div>
				<div class="col-md-4">
						<div class="b-news__banner margin_top_gut" style="background: url(img/offer_item2.png) no-repeat;">
							<div class="b-news__desc">
								<a class="b-news__desc-title">ПРЕИМУЩЕСТВА КОМПОЗИТНОЙ ЧЕРЕПИЦЫ METROTILE ПЕРЕД ГИБКОЙ ЧЕРЕПИЦЕЙ</a>
							</div>
						</div>
				</div>
			</div>
		</div>
	</section>


