
	<section class="b-otzyvy">
	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
  				<li><a href="#">Главная</a></li>
  				<li>Отзывы о композитной черепице </li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text text-center">Отзывы <br>о композитной черепице </h1>
		</div>
	</div>
	<div class="gradient_bg gutter_top gutter_bottom">
					<div class="container">
						<div class="row">
					<div class="col-12">
					<div class="counter"></div>
					<div id="otzyvy_slider" class="wideslider owl-carousel">
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/otzyvy_sert.png" alt="otzyvy_sert" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/otzyvy_sert2.png" alt="otzyvy_sert" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/otzyvy_sert.png" alt="otzyvy_sert" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/otzyvy_sert2.png" alt="otzyvy_sert" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/otzyvy_sert.png" alt="otzyvy_sert" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/otzyvy_sert2.png" alt="otzyvy_sert" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/otzyvy_sert.png" alt="otzyvy_sert" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/otzyvy_sert2.png" alt="otzyvy_sert" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/otzyvy_sert.png" alt="otzyvy_sert" />
						</a>
						<a href="#" class="b-otzyvy__sertificat">
							<img class="b-otzyvy__sertificat-img" src="img/otzyvy_sert2.png" alt="otzyvy_sert" />
						</a>
						</div>
							
					</div>
					</div>
					</div>
	</div>
	<div class="container">
		<div class="row margin_top100 margin_bot100">
			<div class="col-md-6 fz14">
				<p>Высококачественная композитная черепимца нового поколения бельгийской компании Metrotile уже несколько лет успешно реализуется в различных городах России. Потребители по достоинству оценили ее красивый внешний вид, стильную фактуру поверхности и практичность. В настоящее время композитной кровлей Metrotile покрыты роскошные особняки и современные коттеджи в Москве и Московской области, в Санкт-Петербурге и Карелии, в Екатеринбурге и Новосибирске. Крупные строительные компании и частные подрядные организации получили официальные сертификаты на право укладки этого материала, а также написали для нас свои отзывы.</p>
				<p>На этой странице можно ознакомиться с отзывами на композитную черепицу профессиональных мастеров и любителей, которые самостоятельно производили укладку черепицы. Почитать мнение застройщиков и собственников объектов о фактических свойствах продукции Metrotile, особенностях ее заказа, монтажа и использования.s</p>
			</div>
			<div class="offset-md-1 col-md-5">
				<div class="b-otzyvy__container d-flex align-items-center">
					<div class="b-otzyvy__container-text">
					<p class="b-otzyvy__container-title fz21">Отправить отзыв:</p>
					<div class="contacts_address d-flex align-items-center">
						<span>105120, Россия, Москва, Костомаровский переулок, дом 3, офис 420</span>
					</div>
					<div class="b-otzyvy__container-address mail d-flex align-items-center">
						<a class="b-otzyvy__container-link blue_link" href="mailto:company@metrotile.ru">company@metrotile.ru</a>
					</div>
				</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="blue_link with_arrow">Вернуться в раздел</div>
			</div>
		</div>
	</div>
</section>