
	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
				  <li><a href="#">Главная</a></li>
				  <li><a href="#">Каталог</a></li>
				  <li>Фотогалерея</li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text with_after">Фотогалерея</h1>
		</div>
		<div class="row justify-content-center">
			<h3 class="gradient text no_border">коллекция METRObond</h3>
		</div>
	</div>
	<section class="b-gallery">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-2">
					<div class="b-collections">
						<div class="b-collections__navigation">
							<div class="b-collections__navigation-container">
								<a href="#" class="b-collections__navigation-link active">MetroBond</a>
								<a href="#" class="b-collections__navigation-link">MetroRoman</a>
								<a href="#" class="b-collections__navigation-link">Metrotile Mistral</a>
								<a href="#" class="b-collections__navigation-link">MetroShake II</a>
								<a href="#" class="b-collections__navigation-link">MetroClassic</a>
								<a href="#" class="b-collections__navigation-link">Metrotile Gallo</a>
								<a href="#" class="b-collections__navigation-link">Metrotile Romana</a>
								<a href="#" class="b-collections__navigation-link">MetroViksen</a>
								<a href="#" class="b-collections__navigation-link">MetroCooper</a>
								<a href="#" class="b-collections__navigation-link">Aquapan</a>
								<a href="#" class="b-collections__navigation-new gradient">Новинки</a>
								<a href="#" class="b-collections__navigation-link">Metrotile IPanel</a>
								<a href="#" class="b-collections__navigation-link">Metrotile ISlate</a>
								<a href="#" class="b-collections__navigation-link">Metrotile IShake</a>
								<a href="#" class="b-collections__navigation-link">Metrotile IShingle</a>
							</div>
						</div>
						<div class="b-collections__navigation">
							<div class="b-collections__navigation-container">
								<a class="b-collections__navigation-link">MetroBond</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-6">
							<div class="b-gallery__item">
								<img class="b-gallery__img"src="img/slider_index2.png" alt="">
							</div>	
							<div class="b-gallery__item">
								<img class="b-gallery__img"src="img/gallery__img.png" alt="">
							</div>	
						</div>
						<div class="col-md-6">
							<div class="b-gallery__item">
								<img class="b-gallery__img-doubleheight"src="img/gallery__img2.jpg" alt="">
								<div class="b-gallery__text">
									Традиционный классический профиль MetroBond, создает эффект натуральной черепичной кровли. Превосходно сочетается с различными архитектурными стилями и замыслами.
								</div>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="b-gallery__video">
								<img class="b-gallery__img-fullwidth"src="img/gallery__img3.png" alt="">
								<div class="b-gallery__video-play"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="b-gallery__item">
								<img class="b-gallery__img"src="img/gallery__img4.png" alt="">
							</div>	
							<div class="b-gallery__item">
								<img class="b-gallery__img"src="img/collections.jpg" alt="">
							</div>	
							<div class="b-gallery__item">
								<img class="b-gallery__img-doubleheight"src="img/gallery__img5.png" alt="">
							</div>	
						</div>
						<div class="col-md-6">
							<div class="b-gallery__item">
								<h3 class="gradient text no_border">На что следует обратить внимание на фотографиях?</h3>
								<ul class="diamond oneline">
									<li>Сочетание стилистических особенностей. Каждый профиль композитной черепицы Metrotile создан в определенном архитектурно-стилистическом решении. Например, профиль MetroRomana, создан в средиземноморском стиле, а MetroShake II навеет нотки древнегерманских замков. Изучив полный модельный ряд профилей композитной металлочерепицы, Вы определенно найдете коллекцию, которая подходит именно Вам.</li>
									<li>Сочетание фактур строительных материалов. По фото Вы сможете наглядно посмотреть какие виды строительных материалов подойдут к фактуре Вашего профиля. А также найти подходящие решения строительства для вашего дома.</li>
									<li>Сочетание цветовых решений Цветовая палитра дома задает настроение всему строению. Правильно подобранные тона, позволят создать эксклюзивный образ.</li>
								</ul>
							</div>
							<div class="b-gallery__item">
								<img class="b-gallery__img"src="img/gallery__img6.png" alt="">
								<div class="b-gallery__text">За счет защитного слоя каменного гранулята кровля обладает превосходной шумоизоляцией.  Профили не выделяют вредных веществ как в обычных условиях, так и при нагревании.   Особая конструкция черепицы препятствует накоплению снега и его лавинообразному сходу. </div>
							</div>
							<div class="b-gallery__item">
								<img class="b-gallery__img"src="img/gallery__img7.png" alt="">
							</div>
						</div>
					</div>
					<div class="b-seo row">
						<h3 class="gradient text no_border">Фото композитной черепицы Metrotile помогут определиться с выбором кровельного материала</h3>
						<div class="b-seo__smalltext">При создании своего дома, хочется в итоге получить уникальное архитектурное решение, где все сочетается друг с другом и создает единый и изысканный образ. На представленных фото композитной черепицы Вы сможете посмотреть как черепица различных фактур и цветов будет сочетаться с различными строительными материалами, какие цветовые решения кровли придутся именно по Вашему вкусу. Это позволит избежать композиционных ошибок при закладывании архитектуры здания. Ведь нарисовать в своем воображении будущее строение посильно не каждому человеку. Именно для этого мы создали раздел фотогалереи на нашем сайте и постоянно пополняем его новыми дизайнерскими решениями с использованием композитной черепицы Metrotile.</div>
					</div>
				</div>
		</div>
	</section>
	