
	<section class="b-news">
	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
  				<li><a href="#">Главная</a></li>
  				<li>Пресс-центр</li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text">Пресс-центр</h1>
		</div>
	</div>
		<div class="b-topbanner short" style="background-image: url(img/banner3.png);">
			<div class="b-topbanner__wrapper container">
				<div class="b-topbanner__container row justify-content-end">
					<div class="col-md-5">
						<form class="b-topbanner__subscribe clearfix">
							<input type="text" placeholder="Подпишитесь на новости" class="b-topbanner__subscribe-input"/>
							<button class="b-topbanner__subscribe-button button buy">Подписаться</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="container margin_top50">
			<div class="row">
				<div class="col-12">
					<a href="#" class="blue_link download">Скачать брендбук компании Metrotile  Pdf (7 Mб)</a>
				</div>
			</div>			
		</div>
	<div class="container b-contacts b-faq margin_bot100">
		<h2 class="gradient text">Мы отвечаем на ваши вопросы</h2>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Как получаются двухцветные коллекции?</div>
				<div class="b-contacts__container">
					<div class="b-faq__answer">
						Да, для кровли Metrotile, как и для любого другого вида черепицы, необходима гидроизоляция, особенно в случае, если это не холодный чердак, а отапливаемая мансарда и т. п. Вентиляция является обязательным условием нормальной работы утепленной кровли! Кровельные вентиляторы Metrotile имеют приятный дизайн и прекрасно гармонируют с кровельным покрытием. Они изготавливаются из ПВХ, стойкого к воздействию ультрафиолета и имеют цвета, соответствующие цветовой палитре изделий Metrotile. Для достижения рекомендуемой величины воздушного потока кровельные вентиляторы должны устанавливаться около конька по одному на каждые 50-70 кв. м. поверхности кровли. 
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Как сходит снег и как кровля ведет себя при минусовых температурах?</div>
				<div class="b-contacts__container">
					<div class="b-faq__answer">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Для чего используется ремонтный комплект?</div>
				<div class="b-contacts__container">
					<div class="b-faq__answer">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Шумит ли при дожде кровля Metrotile? Выцветает ли черепица Metrotile на солнце?</div>
				<div class="b-contacts__container">
					<div class="b-faq__answer">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="b-news gradient_bg margin_top100 gutter_bottom">
					<div class="container">
					<div class="row">
						<div class="col-12">
								<h2 class="gradient text">Новости</h2>
						</div>
					</div>
					<div class="row">
					<div class="col-12">
					<div id="wideslider_counter3" class="counter"></div>
					<div id="wideslider3" class="owl-carousel wideslider">
						<div class="b-news__item">
							<div class="b-news__img">
								<img class="b-news__img-element" src="img/news1.png" alt="news">
							</div>
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">1 декабря компания Metrotile Europe отметила свое 20-летие. Мероприятие прошло в г. Тонгерен, Бельгия. </div>
							</div>
						</div>
						<div class="b-news__item">
							<div class="b-news__img">
								<img class="b-news__img-element" src="img/news1.png" alt="news">
							</div>
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">1 декабря компания Metrotile Europe отметила свое 20-летие. Мероприятие прошло в г. Тонгерен, Бельгия. </div>
							</div>
						</div>
						<div class="b-news__banner" style="background: url(img/news_banner.png) no-repeat;">
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">Обучающая программа <br>в области композитной<br> черепицы, с целью<br> поддержания высокого уровня<br> знаний продающего штата<br> сотрудников.</div>
							</div>
						</div>
						<div class="b-news__item">
							<div class="b-news__img">
								<img class="b-news__img-element" src="img/news1.png" alt="news">
							</div>
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">1 декабря компания Metrotile Europe отметила свое 20-летие. Мероприятие прошло в г. Тонгерен, Бельгия. </div>
							</div>
						</div>
						<div class="b-news__item">
							<div class="b-news__img">
								<img class="b-news__img-element" src="img/news1.png" alt="news">
							</div>
							<div class="b-news__desc">
								<div class="b-news__desc-date">5 января</div>
								<a class="b-news__desc-title">Юбилей — 20 лет!</a>
								<div class="b-news__desc-text">1 декабря компания Metrotile Europe отметила свое 20-летие. Мероприятие прошло в г. Тонгерен, Бельгия. </div>
							</div>
						</div>
					</div>
							
						</div>
					</div>
					</div>
	</div>	
	<div class="b-news margin_top100">
					<div class="container">
					<div class="row">
						<div class="col-12">
								<h2 class="gradient text">Новости</h2>
						</div>
					</div>
					<div class="row">
					<div class="col-12">
					<div id="wideslider_counter2" class="counter"></div>
					<div id="wideslider2" class="owl-carousel wideslider">
						<div class="b-news__banner margin_top_gut" style="background: url(img/slider_index2.png) no-repeat;">
							<div class="b-news__desc">
								<a class="b-news__desc-title">METROROMAN<br>КОФЕ</a>
							</div>
						</div>
						<div class="b-news__banner gradient_bg margin_top_gut">
							<div class="b-news__desc">
								<a class="b-news__desc-title gradient text no_border">Шеф-монтаж</a>
								<div class="news_item_txt">Для наших партнеров доступна бесплатная услуга «Шеф Монтаж» — наш сотрудник выезжает на объект клиента и проводит обучение ваших специалистов правильному монтажу композитной черепицы Metrotile.</div>
							</div>
						</div>
						<div class="b-news__banner margin_top_gut" style="background: url(img/offer_item.png) no-repeat;">
							<div class="b-news__desc">
								<a class="b-news__desc-title">Распродажа<br>склада!</a>
							</div>
						</div>
						<div class="b-news__banner gradient_bg margin_top_gut">
							<div class="b-news__desc">
								<a class="b-news__desc-title gradient text no_border">Шеф-монтаж</a>
								<div class="news_item_txt">Для наших партнеров доступна бесплатная услуга «Шеф Монтаж» — наш сотрудник выезжает на объект клиента и проводит обучение ваших специалистов правильному монтажу композитной черепицы Metrotile.</div>
							</div>
						</div>
						<div class="b-news__banner margin_top_gut" style="background: url(img/offer_item.png) no-repeat;">
							<div class="b-news__desc">
								<a class="b-news__desc-title">Распродажа<br>склада!</a>
							</div>
						</div>
					</div>
							
						</div>
					</div>
					</div>
	</div>

		<div class="gradient_bg">
			<div class="b-otzyvy container margin_top100 padding_bot100">
					<div class="row">
						<div class="col-12">
								<h2 class="gradient text">Отзывы</h2>
						</div>
					</div>	
					<div class="row">
							<div class="col-md-3">
								<a href="#" class="b-otzyvy__sertificat">
								<img class="b-otzyvy__sertificat-img" src="img/manual.jpg" alt="manual" />
								</a>
							</div>
							<div class="col-md-3">
								<a href="#" class="b-otzyvy__sertificat">
								<img class="b-otzyvy__sertificat-img" src="img/manual2.jpg" alt="manual" />
								</a>
							</div>
							<div class="col-md-3">
								<a href="#" class="b-otzyvy__sertificat">
								<img class="b-otzyvy__sertificat-img" src="img/manual3.jpg" alt="manual" />
								</a>
							</div>
							<div class="col-md-3">
								<a href="#" class="b-otzyvy__sertificat">
								<img class="b-otzyvy__sertificat-img" src="img/manual4.jpg" alt="manual" />
								</a>
							</div>
					</div>			
			</div>
		</div>	
<div class="b-contacts b-vacancies container margin_bot100">
		<div class="row">
			<div class="col-12">
					<h2 class="gradient text">Вакансии</h2>
				</div>
		</div>	
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Менеджер по продажам</div>
				<div class="b-contacts__container">
					<div class="row">
						<div class="col-md-6">
							<div class="b-vacancies__container">
								<div class="b-vacancies__title">от 30 000 до 120 000 руб</div>
								<button class="b-vacancies__button button buy accept">Откликнуться на вакансию</button>
								<div class="b-vacancies__text">
								<strong class="b-vacancies__text-bold">Требуемый опыт работы:</strong>
								<p>Не требуется</p>

								<strong class="b-vacancies__text-bold">Занятость:</strong>
								<p>Полная занятость, полный рабочий день</p>
								<strong>Условия:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Работа на постоянной основе, в офисе продаж, на территории строительного комплекса, без холодных звонков и активного поиска.</li>
									<li class="b-vacancies__list-item">Обучение. Стажировка. В период обучения выплачивается заработная плата.</li>
									<li class="b-vacancies__list-item">Работа с посетителями и входящими звонками.</li>
									<li class="b-vacancies__list-item">Заработная плата: окладная часть + % от продаж.</li>
									<li class="b-vacancies__list-item">Своевременная выплата заработной платы.</li>
									<li class="b-vacancies__list-item">График работы 5/2.</li>
									<li class="b-vacancies__list-item">Корпоративная связь.</li>
									<li class="b-vacancies__list-item">Оформление по ТК.</li>
									<li class="b-vacancies__list-item">Стандартный соц. пакет, отпуск, больничный.</li>
								</ul>
								<strong class="b-vacancies__text-bold">Обязанности:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Консультирование покупателей, расчет материалов и оформление заказов с использованием компьютерных программ.</li>
									<li class="b-vacancies__list-item">Продажа кровельных материалов. </li>
								</ul>
								<strong class="b-vacancies__text-bold">Требования:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Высшее образование приветствуется.</li>
									<li class="b-vacancies__list-item">Коммуникабельность, ответственность.</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="b-vacancies__address">
								<div class="b-vacancies__text">
									
								<strong class="b-vacancies__text-bold">Адрес:</strong>
								<p>105120, Россия, Москва, Костомаровский переулок, дом 3,  офис 420, м. Чкаловская</p>
								<strong class="b-vacancies__text-bold">Время работы:</strong>
								<p>с 10:00 до 19:00</p>
								<strong class="b-vacancies__text-bold">Контактные телефоны:</strong>
								<p>8 (495) 787-47-60;  8 (495) 363-44-32</p>
								<strong class="b-vacancies__text-bold">Электронная почта:</strong>
								<a href="mailto:company@metrotile.ru" class="blue_link">company@metrotile.ru</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Директор по региональному развитию</div>
				<div class="b-contacts__container">
					<div class="row">
						<div class="col-md-6">
							<div class="b-vacancies__container">
								<div class="b-vacancies__title">от 30 000 до 120 000 руб</div>
								<button class="b-vacancies__button button buy accept">Откликнуться на вакансию</button>
								<div class="b-vacancies__text">
								<strong class="b-vacancies__text-bold">Требуемый опыт работы:</strong>
								<p>Не требуется</p>

								<strong class="b-vacancies__text-bold">Занятость:</strong>
								<p>Полная занятость, полный рабочий день</p>
								<strong class="b-vacancies__text-bold">Условия:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Работа на постоянной основе, в офисе продаж, на территории строительного комплекса, без холодных звонков и активного поиска.</li>
									<li class="b-vacancies__list-item">Обучение. Стажировка. В период обучения выплачивается заработная плата.</li>
									<li class="b-vacancies__list-item">Работа с посетителями и входящими звонками.</li>
									<li class="b-vacancies__list-item">Заработная плата: окладная часть + % от продаж.</li>
									<li class="b-vacancies__list-item">Своевременная выплата заработной платы.</li>
									<li class="b-vacancies__list-item">График работы 5/2.</li>
									<li class="b-vacancies__list-item">Корпоративная связь.</li>
									<li class="b-vacancies__list-item">Оформление по ТК.</li>
									<li class="b-vacancies__list-item">Стандартный соц. пакет, отпуск, больничный.</li>
								</ul>
								<strong class="b-vacancies__text-bold">Обязанности:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Консультирование покупателей, расчет материалов и оформление заказов с использованием компьютерных программ.</li>
									<li class="b-vacancies__list-item">Продажа кровельных материалов. </li>
								</ul>
								<strong class="b-vacancies__text-bold">Требования:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Высшее образование приветствуется.</li>
									<li class="b-vacancies__list-item">Коммуникабельность, ответственность.</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="b-vacancies__address">
								<div class="b-vacancies__text">
									
								<strong class="b-vacancies__text-bold">Адрес:</strong>
								<p>105120, Россия, Москва, Костомаровский переулок, дом 3,  офис 420, м. Чкаловская</p>
								<strong class="b-vacancies__text-bold">Время работы:</strong>
								<p>с 10:00 до 19:00</p>
								<strong class="b-vacancies__text-bold">Контактные телефоны:</strong>
								<p>8 (495) 787-47-60;  8 (495) 363-44-32</p>
								<strong class="b-vacancies__text-bold">Электронная почта:</strong>
								<a href="mailto:company@metrotile.ru" class="blue_link">company@metrotile.ru</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Помощник руководителя</div>
				<div class="b-contacts__container">
					<div class="row">
						<div class="col-md-6">
							<div class="b-vacancies__container">
								<div class="b-vacancies__title">от 30 000 до 120 000 руб</div>
								<button class="b-vacancies__button button buy accept">Откликнуться на вакансию</button>
								<div class="b-vacancies__text">
								<strong class="b-vacancies__text-bold">Требуемый опыт работы:</strong>
								<p>Не требуется</p>

								<strong class="b-vacancies__text-bold">Занятость:</strong>
								<p>Полная занятость, полный рабочий день</p>
								<strong class="b-vacancies__text-bold">Условия:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Работа на постоянной основе, в офисе продаж, на территории строительного комплекса, без холодных звонков и активного поиска.</li>
									<li class="b-vacancies__list-item">Обучение. Стажировка. В период обучения выплачивается заработная плата.</li>
									<li class="b-vacancies__list-item">Работа с посетителями и входящими звонками.</li>
									<li class="b-vacancies__list-item">Заработная плата: окладная часть + % от продаж.</li>
									<li class="b-vacancies__list-item">Своевременная выплата заработной платы.</li>
									<li class="b-vacancies__list-item">График работы 5/2.</li>
									<li class="b-vacancies__list-item">Корпоративная связь.</li>
									<li class="b-vacancies__list-item">Оформление по ТК.</li>
									<li class="b-vacancies__list-item">Стандартный соц. пакет, отпуск, больничный.</li>
								</ul>
								<strong class="b-vacancies__text-bold">Обязанности:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Консультирование покупателей, расчет материалов и оформление заказов с использованием компьютерных программ.</li>
									<li class="b-vacancies__list-item">Продажа кровельных материалов. </li>
								</ul>
								<strong class="b-vacancies__text-bold">Требования:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Высшее образование приветствуется.</li>
									<li class="b-vacancies__list-item">Коммуникабельность, ответственность.</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="b-vacancies__address">
								<div class="b-vacancies__text">
									
								<strong class="b-vacancies__text-bold">Адрес:</strong>
								<p>105120, Россия, Москва, Костомаровский переулок, дом 3,  офис 420, м. Чкаловская</p>
								<strong class="b-vacancies__text-bold">Время работы:</strong>
								<p>с 10:00 до 19:00</p>
								<strong class="b-vacancies__text-bold">Контактные телефоны:</strong>
								<p>8 (495) 787-47-60;  8 (495) 363-44-32</p>
								<strong class="b-vacancies__text-bold">Электронная почта:</strong>
								<a href="mailto:company@metrotile.ru" class="blue_link">company@metrotile.ru</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Курьер</div>
				<div class="b-contacts__container">
					<div class="row">
						<div class="col-md-6">
							<div class="b-vacancies__container">
								<div class="b-vacancies__title">от 30 000 до 120 000 руб</div>
								<button class="b-vacancies__button button buy accept">Откликнуться на вакансию</button>
								<div class="b-vacancies__text">
								<strong class="b-vacancies__text-bold">Требуемый опыт работы:</strong>
								<p>Не требуется</p>

								<strong class="b-vacancies__text-bold">Занятость:</strong>
								<p>Полная занятость, полный рабочий день</p>
								<strong class="b-vacancies__text-bold">Условия:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Работа на постоянной основе, в офисе продаж, на территории строительного комплекса, без холодных звонков и активного поиска.</li>
									<li class="b-vacancies__list-item">Обучение. Стажировка. В период обучения выплачивается заработная плата.</li>
									<li class="b-vacancies__list-item">Работа с посетителями и входящими звонками.</li>
									<li class="b-vacancies__list-item">Заработная плата: окладная часть + % от продаж.</li>
									<li class="b-vacancies__list-item">Своевременная выплата заработной платы.</li>
									<li class="b-vacancies__list-item">График работы 5/2.</li>
									<li class="b-vacancies__list-item">Корпоративная связь.</li>
									<li class="b-vacancies__list-item">Оформление по ТК.</li>
									<li class="b-vacancies__list-item">Стандартный соц. пакет, отпуск, больничный.</li>
								</ul>
								<strong class="b-vacancies__text-bold">Обязанности:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Консультирование покупателей, расчет материалов и оформление заказов с использованием компьютерных программ.</li>
									<li class="b-vacancies__list-item">Продажа кровельных материалов. </li>
								</ul>
								<strong class="b-vacancies__text-bold">Требования:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Высшее образование приветствуется.</li>
									<li class="b-vacancies__list-item">Коммуникабельность, ответственность.</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="b-vacancies__address">
								<div class="b-vacancies__text">
									
								<strong class="b-vacancies__text-bold">Адрес:</strong>
								<p>105120, Россия, Москва, Костомаровский переулок, дом 3,  офис 420, м. Чкаловская</p>
								<strong class="b-vacancies__text-bold">Время работы:</strong>
								<p>с 10:00 до 19:00</p>
								<strong class="b-vacancies__text-bold">Контактные телефоны:</strong>
								<p>8 (495) 787-47-60;  8 (495) 363-44-32</p>
								<strong class="b-vacancies__text-bold">Электронная почта:</strong>
								<a href="mailto:company@metrotile.ru" class="blue_link">company@metrotile.ru</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Бухгалтер</div>
				<div class="b-contacts__container">
					<div class="row">
						<div class="col-md-6">
							<div class="b-vacancies__container">
								<div class="b-vacancies__title">от 30 000 до 120 000 руб</div>
								<button class="b-vacancies__button button buy accept">Откликнуться на вакансию</button>
								<div class="b-vacancies__text">
								<strong class="b-vacancies__text-bold">Требуемый опыт работы:</strong>
								<p>Не требуется</p>

								<strong class="b-vacancies__text-bold">Занятость:</strong>
								<p>Полная занятость, полный рабочий день</p>
								<strong class="b-vacancies__text-bold">Условия:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Работа на постоянной основе, в офисе продаж, на территории строительного комплекса, без холодных звонков и активного поиска.</li>
									<li class="b-vacancies__list-item">Обучение. Стажировка. В период обучения выплачивается заработная плата.</li>
									<li class="b-vacancies__list-item">Работа с посетителями и входящими звонками.</li>
									<li class="b-vacancies__list-item">Заработная плата: окладная часть + % от продаж.</li>
									<li class="b-vacancies__list-item">Своевременная выплата заработной платы.</li>
									<li class="b-vacancies__list-item">График работы 5/2.</li>
									<li class="b-vacancies__list-item">Корпоративная связь.</li>
									<li class="b-vacancies__list-item">Оформление по ТК.</li>
									<li class="b-vacancies__list-item">Стандартный соц. пакет, отпуск, больничный.</li>
								</ul>
								<strong class="b-vacancies__text-bold">Обязанности:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Консультирование покупателей, расчет материалов и оформление заказов с использованием компьютерных программ.</li>
									<li class="b-vacancies__list-item">Продажа кровельных материалов. </li>
								</ul>
								<strong class="b-vacancies__text-bold">Требования:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Высшее образование приветствуется.</li>
									<li class="b-vacancies__list-item">Коммуникабельность, ответственность.</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="b-vacancies__address">
								<div class="b-vacancies__text">
									
								<strong class="b-vacancies__text-bold">Адрес:</strong>
								<p>105120, Россия, Москва, Костомаровский переулок, дом 3,  офис 420, м. Чкаловская</p>
								<strong class="b-vacancies__text-bold">Время работы:</strong>
								<p>с 10:00 до 19:00</p>
								<strong class="b-vacancies__text-bold">Контактные телефоны:</strong>
								<p>8 (495) 787-47-60;  8 (495) 363-44-32</p>
								<strong class="b-vacancies__text-bold">Электронная почта:</strong>
								<a href="mailto:company@metrotile.ru" class="blue_link">company@metrotile.ru</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="b-links">
	<div class="b-links__wrapper container">
			<div class="row">
				<div class="col-12">
					<div class="d-flex">
						<div class="b-links__block no_icon" style="background-image: url(/img/links_block.png);">
							<a class="b-links__link" href="#"></a>
							<span class="b-links__title">где купить</span>
						</div>
						<div class="b-links__block icon icon1">
							<a class="b-links__link" href="#"></a>
							<span class="b-links__title">расчет<br>кровли</span>
						</div>
						<div class="b-links__block no_icon" style="background-image: url(img/links_block2.png);">
							<a class="b-links__link" href="#"></a>
							МОнтаж
						</div>
						<div class="b-links__block icon icon2">
							<a class="b-links__link" href="#"></a>
							<span class="b-links__title">видео</span>
						</div>
						<div class="b-links__block no_icon" style="background-image: url(img/links_block3.png);">
							<a class="b-links__link" href="#"></a>
							Инструкции<br> по монтажу
						</div>
					</div>				
				</div>
			</div>
	</div>		
</div>
	</section>


