
	<section class="b-search">
	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
  				<li><a href="#">Главная</a></li>
  				<li>Поиск</li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text text-center">Поиск</h1>
		</div>
	</div>
		<div class="container b-calc">
		<div class="row align-items-center">
			<div class="offset-2 col-8">
				<div class="b-search__input"><input class="b-calc__form-input" placeholder="Черепица" type="text"></div>
			</div>
			<div class="col-1">
				<div class="b-search__button button buy">найти</div>
			</div>
		</div>
		<div class="row margin_top100">
			<div class="offset-1 col-10">
				<div class="b-search__container">
					<a href="#" class="gradient text">MetroRoman</a>
					<p class="b-search__container-text">
					Черепица из коллекции MetroRoman от известного международного бренда Metrotile®, является превосходным образцом современных кровельных материалов....<br>Черепица Metrotile по выгодной цене!
					</p>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="offset-1 col-10">
				<div class="b-search__container">
					<a href="#" class="gradient text">MetroViksen</a>
					<p class="b-search__container-text">
					... составляет более пятидесяти лет. Благодаря продуманной конструкции кровельных и доборных элементов существенно упрощается процесс их монтажа. Черепица имеет легкий вес, что позволяет применять минимальные требования к деревянной обрешетке. При этом профили могут использоваться ...
					</p>
				</div>

			</div>
		</div>
		</div>	
		<div class="container">
			<div class="row margin_top_gut">
				<div class="offset-1 col-10">
				<div class="b-navigation">
					<a href="#" class="b-navigation__prev"></a>
					<a class="b-navigation__link cur" href="#">1</a>
					<a class="b-navigation__link" href="#">2</a>
					<a class="b-navigation__link" href="#">3</a>
					<a class="b-navigation__link" href="#">4</a>
					<a class="b-navigation__link" href="#">5</a>
					<a href="#" class="b-navigation__next"></a>
				</div>
				</div>
			</div>
		</div>	
	</section>
