
	<section>
	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
  				<li class="b-vacancies__list-item"><a href="#">Главная</a></li>
  				<li class="b-vacancies__list-item">Вакансии</li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text">Вакансии</h1>
		</div>
	</div>
	<div class="b-contacts b-vacancies container margin_bot100">
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Менеджер по продажам</div>
				<div class="b-contacts__container">
					<div class="row">
						<div class="col-md-6">
							<div class="b-vacancies__container">
								<div class="b-vacancies__title">от 30 000 до 120 000 руб</div>
								<button class="b-vacancies__button button buy accept">Откликнуться на вакансию</button>
								<div class="b-vacancies__text">
								<strong class="b-vacancies__text-bold">Требуемый опыт работы:</strong>
								<p>Не требуется</p>

								<strong class="b-vacancies__text-bold">Занятость:</strong>
								<p>Полная занятость, полный рабочий день</p>
								<strong>Условия:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Работа на постоянной основе, в офисе продаж, на территории строительного комплекса, без холодных звонков и активного поиска.</li>
									<li class="b-vacancies__list-item">Обучение. Стажировка. В период обучения выплачивается заработная плата.</li>
									<li class="b-vacancies__list-item">Работа с посетителями и входящими звонками.</li>
									<li class="b-vacancies__list-item">Заработная плата: окладная часть + % от продаж.</li>
									<li class="b-vacancies__list-item">Своевременная выплата заработной платы.</li>
									<li class="b-vacancies__list-item">График работы 5/2.</li>
									<li class="b-vacancies__list-item">Корпоративная связь.</li>
									<li class="b-vacancies__list-item">Оформление по ТК.</li>
									<li class="b-vacancies__list-item">Стандартный соц. пакет, отпуск, больничный.</li>
								</ul>
								<strong class="b-vacancies__text-bold">Обязанности:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Консультирование покупателей, расчет материалов и оформление заказов с использованием компьютерных программ.</li>
									<li class="b-vacancies__list-item">Продажа кровельных материалов. </li>
								</ul>
								<strong class="b-vacancies__text-bold">Требования:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Высшее образование приветствуется.</li>
									<li class="b-vacancies__list-item">Коммуникабельность, ответственность.</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="b-vacancies__address">
								<div class="b-vacancies__text">
									
								<strong class="b-vacancies__text-bold">Адрес:</strong>
								<p>105120, Россия, Москва, Костомаровский переулок, дом 3,  офис 420, м. Чкаловская</p>
								<strong class="b-vacancies__text-bold">Время работы:</strong>
								<p>с 10:00 до 19:00</p>
								<strong class="b-vacancies__text-bold">Контактные телефоны:</strong>
								<p>8 (495) 787-47-60;  8 (495) 363-44-32</p>
								<strong class="b-vacancies__text-bold">Электронная почта:</strong>
								<a href="mailto:company@metrotile.ru" class="blue_link">company@metrotile.ru</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Директор по региональному развитию</div>
				<div class="b-contacts__container">
					<div class="row">
						<div class="col-md-6">
							<div class="b-vacancies__container">
								<div class="b-vacancies__title">от 30 000 до 120 000 руб</div>
								<button class="b-vacancies__button button buy accept">Откликнуться на вакансию</button>
								<div class="b-vacancies__text">
								<strong class="b-vacancies__text-bold">Требуемый опыт работы:</strong>
								<p>Не требуется</p>

								<strong class="b-vacancies__text-bold">Занятость:</strong>
								<p>Полная занятость, полный рабочий день</p>
								<strong class="b-vacancies__text-bold">Условия:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Работа на постоянной основе, в офисе продаж, на территории строительного комплекса, без холодных звонков и активного поиска.</li>
									<li class="b-vacancies__list-item">Обучение. Стажировка. В период обучения выплачивается заработная плата.</li>
									<li class="b-vacancies__list-item">Работа с посетителями и входящими звонками.</li>
									<li class="b-vacancies__list-item">Заработная плата: окладная часть + % от продаж.</li>
									<li class="b-vacancies__list-item">Своевременная выплата заработной платы.</li>
									<li class="b-vacancies__list-item">График работы 5/2.</li>
									<li class="b-vacancies__list-item">Корпоративная связь.</li>
									<li class="b-vacancies__list-item">Оформление по ТК.</li>
									<li class="b-vacancies__list-item">Стандартный соц. пакет, отпуск, больничный.</li>
								</ul>
								<strong class="b-vacancies__text-bold">Обязанности:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Консультирование покупателей, расчет материалов и оформление заказов с использованием компьютерных программ.</li>
									<li class="b-vacancies__list-item">Продажа кровельных материалов. </li>
								</ul>
								<strong class="b-vacancies__text-bold">Требования:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Высшее образование приветствуется.</li>
									<li class="b-vacancies__list-item">Коммуникабельность, ответственность.</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="b-vacancies__address">
								<div class="b-vacancies__text">
									
								<strong class="b-vacancies__text-bold">Адрес:</strong>
								<p>105120, Россия, Москва, Костомаровский переулок, дом 3,  офис 420, м. Чкаловская</p>
								<strong class="b-vacancies__text-bold">Время работы:</strong>
								<p>с 10:00 до 19:00</p>
								<strong class="b-vacancies__text-bold">Контактные телефоны:</strong>
								<p>8 (495) 787-47-60;  8 (495) 363-44-32</p>
								<strong class="b-vacancies__text-bold">Электронная почта:</strong>
								<a href="mailto:company@metrotile.ru" class="blue_link">company@metrotile.ru</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Помощник руководителя</div>
				<div class="b-contacts__container">
					<div class="row">
						<div class="col-md-6">
							<div class="b-vacancies__container">
								<div class="b-vacancies__title">от 30 000 до 120 000 руб</div>
								<button class="b-vacancies__button button buy accept">Откликнуться на вакансию</button>
								<div class="b-vacancies__text">
								<strong class="b-vacancies__text-bold">Требуемый опыт работы:</strong>
								<p>Не требуется</p>

								<strong class="b-vacancies__text-bold">Занятость:</strong>
								<p>Полная занятость, полный рабочий день</p>
								<strong class="b-vacancies__text-bold">Условия:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Работа на постоянной основе, в офисе продаж, на территории строительного комплекса, без холодных звонков и активного поиска.</li>
									<li class="b-vacancies__list-item">Обучение. Стажировка. В период обучения выплачивается заработная плата.</li>
									<li class="b-vacancies__list-item">Работа с посетителями и входящими звонками.</li>
									<li class="b-vacancies__list-item">Заработная плата: окладная часть + % от продаж.</li>
									<li class="b-vacancies__list-item">Своевременная выплата заработной платы.</li>
									<li class="b-vacancies__list-item">График работы 5/2.</li>
									<li class="b-vacancies__list-item">Корпоративная связь.</li>
									<li class="b-vacancies__list-item">Оформление по ТК.</li>
									<li class="b-vacancies__list-item">Стандартный соц. пакет, отпуск, больничный.</li>
								</ul>
								<strong class="b-vacancies__text-bold">Обязанности:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Консультирование покупателей, расчет материалов и оформление заказов с использованием компьютерных программ.</li>
									<li class="b-vacancies__list-item">Продажа кровельных материалов. </li>
								</ul>
								<strong class="b-vacancies__text-bold">Требования:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Высшее образование приветствуется.</li>
									<li class="b-vacancies__list-item">Коммуникабельность, ответственность.</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="b-vacancies__address">
								<div class="b-vacancies__text">
									
								<strong class="b-vacancies__text-bold">Адрес:</strong>
								<p>105120, Россия, Москва, Костомаровский переулок, дом 3,  офис 420, м. Чкаловская</p>
								<strong class="b-vacancies__text-bold">Время работы:</strong>
								<p>с 10:00 до 19:00</p>
								<strong class="b-vacancies__text-bold">Контактные телефоны:</strong>
								<p>8 (495) 787-47-60;  8 (495) 363-44-32</p>
								<strong class="b-vacancies__text-bold">Электронная почта:</strong>
								<a href="mailto:company@metrotile.ru" class="blue_link">company@metrotile.ru</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Курьер</div>
				<div class="b-contacts__container">
					<div class="row">
						<div class="col-md-6">
							<div class="b-vacancies__container">
								<div class="b-vacancies__title">от 30 000 до 120 000 руб</div>
								<button class="b-vacancies__button button buy accept">Откликнуться на вакансию</button>
								<div class="b-vacancies__text">
								<strong class="b-vacancies__text-bold">Требуемый опыт работы:</strong>
								<p>Не требуется</p>

								<strong class="b-vacancies__text-bold">Занятость:</strong>
								<p>Полная занятость, полный рабочий день</p>
								<strong class="b-vacancies__text-bold">Условия:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Работа на постоянной основе, в офисе продаж, на территории строительного комплекса, без холодных звонков и активного поиска.</li>
									<li class="b-vacancies__list-item">Обучение. Стажировка. В период обучения выплачивается заработная плата.</li>
									<li class="b-vacancies__list-item">Работа с посетителями и входящими звонками.</li>
									<li class="b-vacancies__list-item">Заработная плата: окладная часть + % от продаж.</li>
									<li class="b-vacancies__list-item">Своевременная выплата заработной платы.</li>
									<li class="b-vacancies__list-item">График работы 5/2.</li>
									<li class="b-vacancies__list-item">Корпоративная связь.</li>
									<li class="b-vacancies__list-item">Оформление по ТК.</li>
									<li class="b-vacancies__list-item">Стандартный соц. пакет, отпуск, больничный.</li>
								</ul>
								<strong class="b-vacancies__text-bold">Обязанности:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Консультирование покупателей, расчет материалов и оформление заказов с использованием компьютерных программ.</li>
									<li class="b-vacancies__list-item">Продажа кровельных материалов. </li>
								</ul>
								<strong class="b-vacancies__text-bold">Требования:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Высшее образование приветствуется.</li>
									<li class="b-vacancies__list-item">Коммуникабельность, ответственность.</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="b-vacancies__address">
								<div class="b-vacancies__text">
									
								<strong class="b-vacancies__text-bold">Адрес:</strong>
								<p>105120, Россия, Москва, Костомаровский переулок, дом 3,  офис 420, м. Чкаловская</p>
								<strong class="b-vacancies__text-bold">Время работы:</strong>
								<p>с 10:00 до 19:00</p>
								<strong class="b-vacancies__text-bold">Контактные телефоны:</strong>
								<p>8 (495) 787-47-60;  8 (495) 363-44-32</p>
								<strong class="b-vacancies__text-bold">Электронная почта:</strong>
								<a href="mailto:company@metrotile.ru" class="blue_link">company@metrotile.ru</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="b-contacts__title gradient_bg">Бухгалтер</div>
				<div class="b-contacts__container">
					<div class="row">
						<div class="col-md-6">
							<div class="b-vacancies__container">
								<div class="b-vacancies__title">от 30 000 до 120 000 руб</div>
								<button class="b-vacancies__button button buy accept">Откликнуться на вакансию</button>
								<div class="b-vacancies__text">
								<strong class="b-vacancies__text-bold">Требуемый опыт работы:</strong>
								<p>Не требуется</p>

								<strong class="b-vacancies__text-bold">Занятость:</strong>
								<p>Полная занятость, полный рабочий день</p>
								<strong class="b-vacancies__text-bold">Условия:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Работа на постоянной основе, в офисе продаж, на территории строительного комплекса, без холодных звонков и активного поиска.</li>
									<li class="b-vacancies__list-item">Обучение. Стажировка. В период обучения выплачивается заработная плата.</li>
									<li class="b-vacancies__list-item">Работа с посетителями и входящими звонками.</li>
									<li class="b-vacancies__list-item">Заработная плата: окладная часть + % от продаж.</li>
									<li class="b-vacancies__list-item">Своевременная выплата заработной платы.</li>
									<li class="b-vacancies__list-item">График работы 5/2.</li>
									<li class="b-vacancies__list-item">Корпоративная связь.</li>
									<li class="b-vacancies__list-item">Оформление по ТК.</li>
									<li class="b-vacancies__list-item">Стандартный соц. пакет, отпуск, больничный.</li>
								</ul>
								<strong class="b-vacancies__text-bold">Обязанности:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Консультирование покупателей, расчет материалов и оформление заказов с использованием компьютерных программ.</li>
									<li class="b-vacancies__list-item">Продажа кровельных материалов. </li>
								</ul>
								<strong class="b-vacancies__text-bold">Требования:</strong>
								<ul class="b-vacancies__list">
									<li class="b-vacancies__list-item">Высшее образование приветствуется.</li>
									<li class="b-vacancies__list-item">Коммуникабельность, ответственность.</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="b-vacancies__address">
								<div class="b-vacancies__text">
									
								<strong class="b-vacancies__text-bold">Адрес:</strong>
								<p>105120, Россия, Москва, Костомаровский переулок, дом 3,  офис 420, м. Чкаловская</p>
								<strong class="b-vacancies__text-bold">Время работы:</strong>
								<p>с 10:00 до 19:00</p>
								<strong class="b-vacancies__text-bold">Контактные телефоны:</strong>
								<p>8 (495) 787-47-60;  8 (495) 363-44-32</p>
								<strong class="b-vacancies__text-bold">Электронная почта:</strong>
								<a href="mailto:company@metrotile.ru" class="blue_link">company@metrotile.ru</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<a href="#" class="blue_link with_arrow margin_top100">Вернуться в раздел</a>
			</div>
		</div>
	</div>
	</section>
