
	<section class="b-wheretobuy">
	<div class="container">
		<div class="row breadcrums justify-content-center">
			 <ul class="breadcrumb">
  				<li><a href="#">Главная</a></li>
  				<li>Где купить</li>
			</ul> 
		</div>
		<div class="row justify-content-center">
			<h1 class="gradient text text-center">Где купить</h1>
		</div>
	</div>
	<div class="container b-calc b-search">
		<div class="row align-items-center">
			<div class="offset-2 col-8">
				<div class="b-search__input"><input class="b-calc__form-input" placeholder="Москва" type="text"></div>
			</div>
			<div class="col-1">
				<div class="b-search__button button buy">найти</div>
			</div>
		</div>
		<div class="row margin_top100">
			<div class="col-12">
												<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab2f14a7af015bb3182fb537a387402a9a47b47a696c3fee80c9d3765495891d6&amp;source=constructor" width="100%" height="430" frameborder="0"></iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h2 class="gradient text no_border margin_right_gut">БЛИЖАЙШИЙ ДИЛЕР</h2><a class="blue_link dashed" href="#">Сертифицированные строительные компании</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="b-wheretobuy__container">
					<h3 class="b-wheretobuy__title">ГРАНД ЛАЙН</h3>
					<div class="b-wheretobuy__text">ул. Марксистская, д. 10</div>
					<div class="b-wheretobuy__text">Телефон: 8 (967) 144-68-74</div>
					<div class="b-wheretobuy__text-km">3.9 <span>км</span></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="b-wheretobuy__container">
					<h3 class="b-wheretobuy__title">СМОЛЕНСКИЙ КРОВЕЛЬЩИК</h3>
					<div class="b-wheretobuy__text">ул. Розанова дом 4, оф. №10</div>
					<div class="b-wheretobuy__text">Телефон: 8 (495) 514 69 928 968 412 23 77</div>
					<div class="b-wheretobuy__text-km">5.1 <span>км</span></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="b-wheretobuy__container">
					<h3 class="b-wheretobuy__title">ГРАНД ЛАЙН</h3>
					<div class="b-wheretobuy__text">Измайловсий проспект, д. 57, центр <br>"М-Стайл"</div>
					<div class="b-wheretobuy__text">Телефон: 8 (495) 748-38-38, </div>
					<div class="b-wheretobuy__text">8 (962) 912-49-81</div>
					<div class="b-wheretobuy__text-km">6.1 <span>км</span></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="b-wheretobuy__container">
					<h3 class="b-wheretobuy__title">АГАТ</h3>
					<div class="b-wheretobuy__text">ул. Брянская, д. 32 стр.9</div>
					<div class="b-wheretobuy__text">Телефон: 8 (495) 633-01-01 (доб. 1216)</div>
					<div class="b-wheretobuy__text-km">4.5 <span>км</span></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="b-wheretobuy__container">
					<h3 class="b-wheretobuy__title">БАУРЕКС</h3>
					<div class="b-wheretobuy__text">ул. Розанова дом 4, оф. №10</div>
					<div class="b-wheretobuy__text">Телефон: 8 (495) 514 69 928 968 412 23 77</div>
					<div class="b-wheretobuy__text-km">5.1 <span>км</span></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="b-wheretobuy__container">
					<h3 class="b-wheretobuy__title">ТД АВРОРА</h3>
					<div class="b-wheretobuy__text">ул. Южнопортовая, д. 15, корп. 2, офис <br>402</div>
					<div class="b-wheretobuy__text">Телефон: 8 (495) 766-53-34</div>
					<div class="b-wheretobuy__text-km">7.2 <span>км</span></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="b-wheretobuy__container">
					<h3 class="b-wheretobuy__title">АГАТ</h3>
					<div class="b-wheretobuy__text">ул. Брянская, д. 32 стр.9</div>
					<div class="b-wheretobuy__text">Телефон: 8 (495) 633-01-01 (доб. 1216)</div>
					<div class="b-wheretobuy__text-km">4.5 <span>км</span></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="b-wheretobuy__container">
					<h3 class="b-wheretobuy__title">БАУРЕКС</h3>
					<div class="b-wheretobuy__text">ул. Розанова дом 4, оф. №10</div>
					<div class="b-wheretobuy__text">Телефон: 8 (495) 514 69 928 968 412 23 77</div>
					<div class="b-wheretobuy__text-km">5.1 <span>км</span></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="b-wheretobuy__container">
					<h3 class="b-wheretobuy__title">ТД АВРОРА</h3>
					<div class="b-wheretobuy__text">ул. Южнопортовая, д. 15, корп. 2, офис <br>402</div>
					<div class="b-wheretobuy__text">Телефон: 8 (495) 766-53-34</div>
					<div class="b-wheretobuy__text-km">7.2 <span>км</span></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="b-wheretobuy__container">
					<h3 class="b-wheretobuy__title">АГАТ</h3>
					<div class="b-wheretobuy__text">ул. Брянская, д. 32 стр.9</div>
					<div class="b-wheretobuy__text">Телефон: 8 (495) 633-01-01 (доб. 1216)</div>
					<div class="b-wheretobuy__text-km">4.5 <span>км</span></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="b-wheretobuy__container">
					<h3 class="b-wheretobuy__title">БАУРЕКС</h3>
					<div class="b-wheretobuy__text">ул. Розанова дом 4, оф. №10</div>
					<div class="b-wheretobuy__text">Телефон: 8 (495) 514 69 928 968 412 23 77</div>
					<div class="b-wheretobuy__text-km">5.1 <span>км</span></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="b-wheretobuy__container">
					<h3 class="b-wheretobuy__title">ТД АВРОРА</h3>
					<div class="b-wheretobuy__text">ул. Южнопортовая, д. 15, корп. 2, офис <br>402</div>
					<div class="b-wheretobuy__text">Телефон: 8 (495) 766-53-34</div>
					<div class="b-wheretobuy__text-km">7.2 <span>км</span></div>
				</div>
			</div>
		</div>
		</div>
		<div class="gradient_bg gutter_bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
				<h2 class="gradient text">Коллекции metrotile</h2>
				</div>
			</div>
		</div>
		<div class="b-catalog container">
			<div class="row">
				<div class="col-12">
					<div id="wideslider_counter" class="counter"></div>
					<div  id="wideslider" class="owl-carousel wideslider">
						<div class="b-catalog__item">
							<div class="b-catalog__item-top">
								<img src="img/slider_index2.png" alt="slider_index2" class="b-catalog__item-img">
							</div>
							<div class="b-catalog__item-desc">
								<a class="b-catalog__item-link" href="#">MetroBond</a>
								<span class="b-catalog__item-price">от 586</span>
							</div>
						</div>
						<div class="b-catalog__item">
							<div class="b-catalog__item-new gradient">новинка</div>
							<div class="b-catalog__item-top">
								<img src="img/slider_index2.png" alt="slider_index2" class="b-catalog__item-img">
							</div>
							<div class="b-catalog__item-desc">
								<a class="b-catalog__item-link" href="#">MetroBond</a>
								<span class="b-catalog__item-price">от 586</span>
							</div>
						</div>
						<div class="b-catalog__item">
							<div class="b-catalog__item-new gradient">новинка</div>
							<div class="b-catalog__item-top">
								<img src="img/slider_index2.png" alt="slider_index2" class="b-catalog__item-img">
							</div>
							<div class="b-catalog__item-desc">
								<a class="b-catalog__item-link" href="#">MetroBond</a>
								<span class="b-catalog__item-price">от 586</span>
							</div>
						</div>
						<div class="b-catalog__item">
							<div class="b-catalog__item-new gradient">новинка</div>
							<div class="b-catalog__item-top">
								<img src="img/slider_index2.png" alt="slider_index2" class="b-catalog__item-img">
							</div>
							<div class="b-catalog__item-desc">
								<a class="b-catalog__item-link" href="#">MetroBond</a>
								<span class="b-catalog__item-price">от 586</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12">
				<h2 class="gradient text">доборные элементы</h2>
				</div>
			</div>
		</div>
		<div class="b-catalog container">
			<div class="row">
				<div class="col-12">
					<div id="wideslider_counter2" class="counter"></div>
					<div id="wideslider2" class="owl-carousel wideslider">
						<div class="b-catalog__item">
							<div class="b-catalog__item-top">
								<img src="img/slider_index2.png" alt="slider_index2" class="b-catalog__item-img">
							</div>
							<div class="b-catalog__item-desc">
								<a class="b-catalog__item-link" href="#">MetroBond</a>
								<span class="b-catalog__item-price">от 586 <span class="ruble">₽</span></span>
							</div>
						</div>
						<div class="b-catalog__item">
							<div class="b-catalog__item-new gradient">новинка</div>
							<div class="b-catalog__item-top">
								<img src="img/slider_index2.png" alt="slider_index2" class="b-catalog__item-img">
							</div>
							<div class="b-catalog__item-desc">
								<a class="b-catalog__item-link" href="#">MetroBond</a>
								<span class="b-catalog__item-price">от 586 <span class="ruble">₽</span></span>
							</div>
						</div>
						<div class="b-catalog__item">
							<div class="b-catalog__item-top">
								<img src="img/slider_index2.png" alt="slider_index2" class="b-catalog__item-img">
							</div>
							<div class="b-catalog__item-desc">
								<a class="b-catalog__item-link" href="#">MetroBond</a>
								<span class="b-catalog__item-price">от 586 <span class="ruble">₽</span></span>
							</div>
						</div>
						<div class="b-catalog__item">
							<div class="b-catalog__item-new gradient">новинка</div>
							<div class="b-catalog__item-top">
								<img src="img/slider_index2.png" alt="slider_index2" class="b-catalog__item-img">
							</div>
							<div class="b-catalog__item-desc">
								<a class="b-catalog__item-link" href="#">MetroBond</a>
								<span class="b-catalog__item-price">от 586 <span class="ruble">₽</span></span>
							</div>
						</div>
						<div class="b-catalog__item">
							<div class="b-catalog__item-new gradient">новинка</div>
							<div class="b-catalog__item-top">
								<img src="img/slider_index2.png" alt="slider_index2" class="b-catalog__item-img">
							</div>
							<div class="b-catalog__item-desc">
								<a class="b-catalog__item-link" href="#">MetroBond</a>
								<span class="b-catalog__item-price">от 586 <span class="ruble">₽</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="container">	
			<div class="b-seo row margin_top100">
				<div class="col-md-7">
					<div class="b-seo__block">
					<h2 class="gradient text no_border no_padding">Продажа композитной черепицы во всех регионах России</h2>
					<p>Пришло время обустроить кровлю? Выбираете качественный и недорогой кровельный материал? Тогда вам нужно купить композитную черепицу Metrotile, и вы забудете о необходимости ремонта кровли. С Metrotile можно быстро и на века покрыть крышу дома, которому не страшны перепады температур и непогода!</p>
					<p>В дилерских центрах профильные специалисты обучаются технологии монтажа композитной кровли по инструкциям производителя. После окончания учебы мастера проходят стажировку на крупных строительных объектах и только затем получают профессиональные сертификаты, являющиеся гарантией того, что укладка композитной черепицы будет выполнена на высоком профессиональном уровне.</p>
					<h3>Мы предлагаем нашим покупателям:</h3>
					<ul>
						<li>10 коллекций.</li>
						<li>25 цветовых решений.</li>
						<li>Доборные материалы.</li>
						<li>Шеф-монтаж.</li>
						<li>30 лет гарантии</li>
					</ul>
					<p>На рынке композитных материалов черепица Metrotile с 2002 года. За это время мы создали крупную дилерскую сеть, представители которой есть во всех уголках России. Нам доверяют тысячи клиентов, которые уже смогли убедиться 
в преимуществах композитных материалов, смогли рассчитать реальную стоимость черепицы, которая складывается 
не столько из цены за м2, сколько из долговечности кровельного материала. Мы гарантируем неизменно высокое качество и даем 30-летнюю гарантию.</p>
<p>Купить композитную черепицу в розницу можно в любом регионе России. Мы постоянно расширяем дилерскую сеть 
и приглашаем к сотрудничеству новых дилеров в регионах России.</p>
					</div>
				</div>
				<div class="col-md-5">
					<div class="b-seo__container" style="background: url(img/offer_item.png) no-repeat;"></div>
				</div>
			</div>			
		</div>
	</div>	
	</section>